In [269]:
import pandas as pd
import numpy as np
from ast import literal_eval

## Orders

In [270]:
orders_df = pd.read_csv('data/train_orders.csv', index_col=0)

In [311]:
val_df = pd.read_csv('data/orders_val.csv', index_col=0)

In [333]:
test_df = pd.read_csv('data/orders_test.csv', index_col=0)

In [331]:
val_df.shape

(812883, 9)

In [332]:
orders_df.shape

(3458398, 9)

In [334]:
test_df.shape

(533544, 7)

In [271]:
orders_df.head()

,user-id,site-id,created-at,item-id,count,general-category-path,brand-id,target
0,user_1,1,1634292444,NaN,NaN,NaN,NaN,0
1,user_1,2,1639827297,NaN,NaN,NaN,NaN,0
2,user_1,2,1639827681,NaN,NaN,NaN,NaN,0
3,user_3,21,1684248081,NaN,NaN,NaN,NaN,1
4,user_3,22,1684892551,item_1,1.0,NaN,NaN,1

In [335]:
test_df.head()

,user-id,site-id,created-at,item-id,count,general-category-path,brand-id
0,user_155204,489,1405923052,NaN,NaN,NaN,NaN
1,user_155206,62,1621174041,item_13288,1.0,"[91214, 91197, 90801]",NaN
2,user_155206,62,1621174041,item_13288,1.0,"[91214, 91197, 90801]",NaN
3,user_155206,62,1670141242,item_6173525,1.0,NaN,NaN
4,user_155206,62,1670141242,item_6173525,1.0,NaN,NaN

Константы

In [272]:
# Граница отсечения результатов (настраивается в процессе тестов)
BORDER = 10

### Группировки

Разобьем список категория на отдельные строки

In [273]:
orders_df_with_category = orders_df[~orders_df['general-category-path'].isna()]
orders_df_with_category['general-category-path'] = orders_df_with_category['general-category-path'].apply(literal_eval)
orders_df_with_category = orders_df_with_category.explode('general-category-path')
orders_df_with_category

C:\Users\Demion\AppData\Local\Temp\ipykernel_12608\18327562.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  orders_df_with_category['general-category-path'] = orders_df_with_category['general-category-path'].apply(literal_eval)

,user-id,site-id,created-at,item-id,count,general-category-path,brand-id,target
6,user_4,29,1611987662,item_9,1.0,90404,3243.0,1
6,user_4,29,1611987662,item_9,1.0,90403,3243.0,1
6,user_4,29,1611987662,item_9,1.0,90402,3243.0,1
7,user_4,29,1655426430,item_10,1.0,90698,1210537.0,1
7,user_4,29,1655426430,item_10,1.0,7330336,1210537.0,1
...,...,...,...,...,...,...,...,...
3458394,user_127755,58,1690265390,item_1896437,1.0,90813,14019.0,0
3458395,user_127755,58,1690265390,item_3739266,1.0,12718223,32654.0,0
3458395,user_127755,58,1690265390,item_3739266,1.0,90813,32654.0,0
3458396,user_127755,58,1690265390,item_57560,1.0,12718223,5783.0,0
3458396,user_127755,58,1690265390,item_57560,1.0,90813,5783.0,0

In [313]:
val_df_with_category = val_df[~val_df['general-category-path'].isna()]
val_df_with_category['general-category-path'] = val_df_with_category['general-category-path'].apply(literal_eval)
val_df_with_category = val_df_with_category.explode('general-category-path')
val_df_with_category

C:\Users\Demion\AppData\Local\Temp\ipykernel_12608\2666386670.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  val_df_with_category['general-category-path'] = val_df_with_category['general-category-path'].apply(literal_eval)

,user-id,site-id,created-at,item-id,count,general-category-path,brand-id,target
1,user_127757,16,1636574129,item_3780263,2.0,90578,1237.0,1
1,user_127757,16,1636574129,item_3780263,2.0,90574,1237.0,1
1,user_127757,16,1636574129,item_3780263,2.0,198118,1237.0,1
2,user_127757,16,1637512604,item_5403882,2.0,90578,1237.0,1
2,user_127757,16,1637512604,item_5403882,2.0,90574,1237.0,1
...,...,...,...,...,...,...,...,...
812877,user_155202,53,1682604045,item_650359,1.0,8475840,13642.0,0
812881,user_155202,300,1688068054,item_650362,1.0,818863,915491.0,0
812881,user_155202,300,1688068054,item_650362,1.0,15068776,915491.0,0
812881,user_155202,300,1688068054,item_650362,1.0,7811881,915491.0,0
812881,user_155202,300,1688068054,item_650362,1.0,7877999,915491.0,0

In [336]:
test_df_with_category = test_df[~test_df['general-category-path'].isna()]
test_df_with_category['general-category-path'] = test_df_with_category['general-category-path'].apply(literal_eval)
test_df_with_category = test_df_with_category.explode('general-category-path')
test_df_with_category

C:\Users\Demion\AppData\Local\Temp\ipykernel_12608\3275519986.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df_with_category['general-category-path'] = test_df_with_category['general-category-path'].apply(literal_eval)

,user-id,site-id,created-at,item-id,count,general-category-path,brand-id
1,user_155206,62,1621174041,item_13288,1.0,91214,NaN
1,user_155206,62,1621174041,item_13288,1.0,91197,NaN
1,user_155206,62,1621174041,item_13288,1.0,90801,NaN
2,user_155206,62,1621174041,item_13288,1.0,91214,NaN
2,user_155206,62,1621174041,item_13288,1.0,91197,NaN
...,...,...,...,...,...,...,...
533540,user_173986,79,1563163857,item_6640459,1.0,7811873,1750.0
533540,user_173986,79,1563163857,item_6640459,1.0,7877999,1750.0
533541,user_173986,79,1563163857,item_6640460,1.0,7812151,1750.0
533541,user_173986,79,1563163857,item_6640460,1.0,7811877,1750.0
533541,user_173986,79,1563163857,item_6640460,1.0,7877999,1750.0

#### Сайт/категория

In [274]:
orders_df_with_category.groupby(by=['site-id', 'general-category-path']).agg(
    Count=('created-at', 'nunique'),
    Gender=('target', np.mean)
).query(f'Count >= {BORDER}').sort_values(by='Gender', ascending=False)

                               Count  Gender
site-id general-category-path
29      90407                     10     1.0
20      91214                     10     1.0
40      191211                    11     1.0
139     91512                     12     1.0
40      278423                    10     1.0
...                              ...     ...
439     12457383                  17     0.0
93      91008                     10     0.0
173     14222454                  11     0.0
181     13858708                  10     0.0
54      15963644                  17     0.0

[20425 rows x 2 columns]

In [275]:
orders_site_category_count = orders_df_with_category.groupby(by=['site-id', 'general-category-path']).agg(
    Count=('created-at', 'nunique'),
    Gender=('target', np.mean)
).query(f'Count >= {BORDER}').sort_values(by='Gender', ascending=False)['Gender'].to_dict()
orders_site_category_count

{(29, 90407): 1.0,
 (20, 91214): 1.0,
 (40, 191211): 1.0,
 (139, 91512): 1.0,
 (40, 278423): 1.0,
 (151, 14700323): 1.0,
 (348, 91052): 1.0,
 (1057, 91697): 1.0,
 (20, 14223099): 1.0,
 (151, 14382342): 1.0,
 (198, 91597): 1.0,
 (151, 15869579): 1.0,
 (20, 90486): 1.0,
 (20, 90469): 1.0,
 (25, 12333825): 1.0,
 (25, 10785222): 1.0,
 (25, 4951523): 1.0,
 (151, 14223319): 1.0,
 (20, 15694311): 1.0,
 (151, 14220244): 1.0,
 (198, 995914): 1.0,
 (20, 8231633): 1.0,
 (198, 90813): 1.0,
 (20, 13858512): 1.0,
 (830, 857707): 1.0,
 (41, 91461): 1.0,
 (348, 4165204): 1.0,
 (317, 278373): 1.0,
 (20, 91629): 1.0,
 (599, 14223539): 1.0,
 (29, 13792950): 1.0,
 (599, 91657): 1.0,
 (151, 15695136): 1.0,
 (148, 10834023): 1.0,
 (41, 1618974): 1.0,
 (20, 294648): 1.0,
 (41, 91649): 1.0,
 (151, 15092067): 1.0,
 (20, 469547): 1.0,
 (348, 10510546): 1.0,
 (186, 8264452): 1.0,
 (21, 14201356): 1.0,
 (186, 8268516): 1.0,
 (21, 14369211): 1.0,
 (830, 191211): 1.0,
 (198, 995923): 1.0,
 (20, 13199962): 1.0,
 (20, 91029): 1.0,
 (20, 15092199): 1.0,
 (20, 90932): 1.0,
 (151, 278428): 1.0,
 (198, 15995347): 1.0,
 (198, 15995336): 1.0,
 (186, 7811877): 0.986013986013986,
 (186, 7877999): 0.986013986013986,
 (151, 91643): 0.9787234042553191,
 (830, 91697): 0.9782608695652174,
 (41, 91597): 0.9761904761904762,
 (151, 91661): 0.975609756097561,
 (209, 14223359): 0.9722222222222222,
 (20, 12319709): 0.9705882352941176,
 (198, 14955823): 0.96875,
 (62, 13208029): 0.9672131147540983,
 (29, 13430397): 0.9666666666666667,
 (830, 91597): 0.9642857142857143,
 (25, 90626): 0.9629629629629629,
 (599, 14223359): 0.9615384615384616,
 (20, 15148752): 0.96,
 (1167, 91597): 0.96,
 (198, 90666): 0.96,
 (151, 294644): 0.96,
 (1167, 1618974): 0.96,
 (1167, 90666): 0.96,
 (20, 15715254): 0.9583333333333334,
 (25, 90409): 0.9583333333333334,
 (20, 15876896): 0.9583333333333334,
 (20, 91631): 0.9583333333333334,
 (151, 91698): 0.9565217391304348,
 (25, 12327183): 0.9565217391304348,
 (20, 6144280): 0.9545454545454546,
 (25, 6856242): 0.9545454545454546,
 (20, 16018280): 0.9545454545454546,
 (20, 14340298): 0.9545454545454546,
 (830, 10604398): 0.9545454545454546,
 (20, 14256034): 0.9545454545454546,
 (167, 15984085): 0.9538461538461539,
 (20, 950500): 0.9523809523809523,
 (198, 10484476): 0.9523809523809523,
 (167, 15984092): 0.95,
 (20, 950505): 0.95,
 (830, 90666): 0.9482758620689655,
 (348, 308016): 0.9473684210526315,
 (27, 7812181): 0.9473684210526315,
 (27, 7812164): 0.9473684210526315,
 (151, 15715254): 0.9459459459459459,
 (20, 14700323): 0.9444444444444444,
 (151, 14420909): 0.9444444444444444,
 (20, 15695322): 0.9444444444444444,
 (830, 91018): 0.9439252336448598,
 (151, 294648): 0.9420289855072463,
 (148, 91039): 0.9411764705882353,
 (20, 12341957): 0.9411764705882353,
 (20, 12797896): 0.9411764705882353,
 (20, 469549): 0.94,
 (151, 278424): 0.9393939393939394,
 (151, 14419833): 0.9375,
 (20, 91699): 0.9375,
 (20, 90484): 0.9375,
 (151, 12341951): 0.9375,
 (20, 90525): 0.9375,
 (148, 91020): 0.9375,
 (151, 11899034): 0.9354838709677419,
 (20, 8278683): 0.9354838709677419,
 (20, 542020): 0.9354838709677419,
 (20, 90508): 0.9342105263157895,
 (20, 6411795): 0.9333333333333333,
 (1057, 90548): 0.9333333333333333,
 (25, 308016): 0.9333333333333333,
 (20, 90449): 0.9333333333333333,
 (160, 14223359): 0.9333333333333333,
 (25, 11917790): 0.9333333333333333,
 (20, 91619): 0.9333333333333333,
 (20, 14426509): 0.9333333333333333,
 (20, 91660): 0.9333333333333333,
 (20, 15808762): 0.9318181818181818,
 (20, 7774364): 0.9311740890688259,
 (20, 14696956): 0.9310344827586207,
 (20, 14231579): 0.9310344827586207,
 (20, 1565813): 0.9310344827586207,
 (20, 15695136): 0.9285714285714286,
 (20, 658841): 0.9285714285714286,
 (151, 6169283): 0.9285714285714286,
 (198, 90627): 0.9285714285714286,
 (151, 91654): 0.9285714285714286,
 (54, 90471): 0.9285714285714286,
 (112, 15273598): 0.9285714285714286,
 (20, 14946301): 0.9285714285714286,
 (1057, 91597): 0.9285714285714286,
 (160, 10616651): 0.9285714285714286,
 (599, 14181786): 0.9285714285714286,
 (22, 16044621): 0.9285714285714286,
 (20, 14979737): 0.9285714285714286,
 (20, 488061): 0.9272727272727272,
 (151, 278430): 0.926829268292683,
 (348, 90403): 0.926829268292683,
 (25, 90403): 0.9259259259259259,
 (20, 15695094): 0.9245283018867925,
 (198, 90554): 0.9245283018867925,
 (151, 13775761): 0.9230769230769231,
 (160, 14814983): 0.9230769230769231,
 (20, 14369611): 0.9230769230769231,
 (389, 91502): 0.9230769230769231,
 (151, 14193156): 0.9230769230769231,
 (20, 281429): 0.9230769230769231,
 (148, 12888025): 0.9230769230769231,
 (29, 14246003): 0.9230769230769231,
 (112, 15756109): 0.9230769230769231,
 (20, 16054411): 0.9230769230769231,
 (20, 91627): 0.9230769230769231,
 (25, 91724): 0.9230769230769231,
 (151, 9383793): 0.9230769230769231,
 (153, 1558993): 0.9230769230769231,
 (20, 90636): 0.9230769230769231,
 (20, 599236): 0.9230769230769231,
 (25, 91503): 0.9230769230769231,
 (153, 186461): 0.9230769230769231,
 (830, 12324053): 0.9230769230769231,
 (40, 10770551): 0.9230769230769231,
 (20, 14222615): 0.9230769230769231,
 (40, 13088574): 0.9230769230769231,
 (20, 6038878): 0.9230769230769231,
 (16, 90713): 0.9230769230769231,
 (151, 91626): 0.922077922077922,
 (151, 15587647): 0.9210526315789473,
 (25, 10613523): 0.9210526315789473,
 (151, 13858703): 0.92,
 (16, 90633): 0.918918918918919,
 (20, 308016): 0.9183673469387755,
 (20, 90489): 0.9178082191780822,
 (20, 12333552): 0.9176470588235294,
 (151, 15694310): 0.9175257731958762,
 (193, 10604368): 0.9166666666666666,
 (20, 14181810): 0.9166666666666666,
 (151, 7707222): 0.9166666666666666,
 (20, 4953550): 0.9166666666666666,
 (198, 90551): 0.9166666666666666,
 (79, 90813): 0.9166666666666666,
 (20, 15687312): 0.9166666666666666,
 (48, 15719803): 0.9166666666666666,
 (198, 90544): 0.9166666666666666,
 (91, 7940844): 0.9166666666666666,
 (81, 4684840): 0.9166666666666666,
 (20, 90436): 0.9166666666666666,
 (1057, 14991001): 0.9166666666666666,
 (48, 15719796): 0.9166666666666666,
 (148, 91031): 0.9166666666666666,
 (151, 13775856): 0.9166666666666666,
 (20, 469108): 0.9166666666666666,
 (112, 15625409): 0.9166666666666666,
 (20, 91095): 0.9166666666666666,
 (20, 15966482): 0.9166666666666666,
 (48, 15719792): 0.9166666666666666,
 (40, 91662): 0.9166666666666666,
 (160, 15995346): 0.9166666666666666,
 (151, 90509): 0.9166666666666666,
 (147, 723087): 0.9166666666666666,
 (20, 91514): 0.9149484536082474,
 (186, 15797254): 0.9148936170212766,
 (186, 90925): 0.9148936170212766,
 (20, 90403): 0.9145299145299145,
 (151, 12333549): 0.9142857142857143,
 (20, 91698): 0.9130434782608695,
 (20, 91079): 0.9125,
 (153, 7308012): 0.9120879120879121,
 (151, 278427): 0.9117647058823529,
 (167, 15525057): 0.9117647058823529,
 (40, 91484): 0.9090909090909091,
 (151, 15694311): 0.9090909090909091,
 (830, 723088): 0.9090909090909091,
 (151, 90764): 0.9090909090909091,
 (20, 90462): 0.9090909090909091,
 (40, 12934577): 0.9090909090909091,
 (151, 15293580): 0.9090909090909091,
 (25, 91033): 0.9090909090909091,
 (151, 7757500): 0.9090909090909091,
 (20, 4965874): 0.9090909090909091,
 (348, 90404): 0.9090909090909091,
 (102, 7812139): 0.9090909090909091,
 (20, 10590810): 0.9090909090909091,
 (151, 10790728): 0.9090909090909091,
 (25, 90455): 0.9090909090909091,
 (151, 10989821): 0.9090909090909091,
 (151, 12333552): 0.9081081081081082,
 (151, 14895875): 0.9076923076923077,
 (25, 90402): 0.9065934065934066,
 (151, 91157): 0.90625,
 (151, 90463): 0.90625,
 (25, 90435): 0.90625,
 (20, 12333818): 0.9058823529411765,
 (139, 14246003): 0.9056603773584906,
 (16, 488061): 0.9056603773584906,
 (151, 12341948): 0.9047619047619048,
 (54, 12333552): 0.9047619047619048,
 (25, 723087): 0.9047619047619048,
 (151, 15695094): 0.9047619047619048,
 (20, 13199892): 0.9047619047619048,
 (20, 91519): 0.9047619047619048,
 (20, 15221859): 0.9047619047619048,
 (20, 14231177): 0.9038461538461539,
 (488, 91597): 0.9038461538461539,
 (151, 15147745): 0.9032258064516129,
 (29, 91724): 0.9032258064516129,
 (1057, 90543): 0.9032258064516129,
 (20, 15094413): 0.9032258064516129,
 (20, 14415429): 0.9027777777777778,
 (151, 10989823): 0.9024390243902439,
 (139, 90714): 0.9021739130434783,
 (139, 91306): 0.9021739130434783,
 (139, 91291): 0.9021739130434783,
 (151, 15696577): 0.9016393442622951,
 (151, 16018280): 0.9016393442622951,
 (167, 91159): 0.9,
 (20, 819385): 0.9,
 (20, 14223359): 0.9,
 (20, 10972670): 0.9,
 (474, 10682610): 0.9,
 (62, 15336851): 0.9,
 (151, 14368995): 0.9,
 (20, 6374360): 0.9,
 (198, 6374343): 0.9,
 (20, 14414642): 0.9,
 (91, 14245898): 0.9,
 (389, 12410435): 0.9,
 (54, 10510546): 0.9,
 (25, 994004): 0.9,
 (22, 15697667): 0.9,
 (20, 14414623): 0.9,
 (25, 91697): 0.9,
 (160, 13870550): 0.9,
 (20, 1006240): 0.9,
 (20, 278429): 0.9,
 (112, 11870336): 0.9,
 (29, 13480658): 0.9,
 (29, 12341932): 0.9,
 (20, 231267): 0.9,
 (151, 4953538): 0.9,
 (151, 15715931): 0.8983050847457628,
 (41, 91009): 0.896551724137931,
 (20, 14256128): 0.896551724137931,
 (62, 91284): 0.896551724137931,
 (148, 91697): 0.896551724137931,
 (112, 14700323): 0.896,
 (151, 15449328): 0.8956521739130435,
 (151, 15293385): 0.8953488372093024,
 (151, 13870564): 0.8947368421052632,
 (151, 294652): 0.8947368421052632,
 (151, 15003480): 0.8947368421052632,
 (20, 90602): 0.8947368421052632,
 (151, 12341955): 0.8947368421052632,
 (276, 944108): 0.8947368421052632,
 (29, 91625): 0.8947368421052632,
 (40, 91657): 0.8947368421052632,
 (20, 14744406): 0.8947368421052632,
 (20, 12797905): 0.8947368421052632,
 (20, 14247424): 0.8933333333333333,
 (20, 15147868): 0.8928571428571429,
 (20, 191211): 0.8922413793103449,
 (20, 12324053): 0.8918918918918919,
 (20, 90479): 0.8918918918918919,
 (20, 91031): 0.8916666666666667,
 (151, 14231336): 0.8913043478260869,
 (41, 198119): 0.8909090909090909,
 (151, 12324117): 0.8888888888888888,
 (151, 13858702): 0.8888888888888888,
 (20, 15587647): 0.8888888888888888,
 (20, 267390): 0.8888888888888888,
 (20, 91037): 0.8888888888888888,
 (20, 7940839): 0.8888888888888888,
 (151, 15296735): 0.8888888888888888,
 (20, 14201356): 0.8888888888888888,
 (20, 469555): 0.8888888888888888,
 (112, 15273588): 0.8888888888888888,
 (20, 15618852): 0.8888888888888888,
 (198, 91070): 0.8888888888888888,
 (1057, 91009): 0.8888888888888888,
 (151, 90754): 0.8888888888888888,
 (20, 90546): 0.8888888888888888,
 (20, 91517): 0.8888888888888888,
 (151, 12333818): 0.8875,
 (151, 91699): 0.8867924528301887,
 (151, 12359484): 0.8863636363636364,
 (488, 1618974): 0.8863636363636364,
 (20, 7152189): 0.8863636363636364,
 (20, 91020): 0.8848484848484849,
 (151, 14211277): 0.8846153846153846,
 (147, 1618974): 0.8846153846153846,
 (198, 488061): 0.8844221105527639,
 (599, 90666): 0.8838709677419355,
 (151, 12341959): 0.8837209302325582,
 (151, 284394): 0.883495145631068,
 (599, 91597): 0.8831168831168831,
 (20, 15694310): 0.8828828828828829,
 (20, 14419833): 0.8823529411764706,
 (20, 6038874): 0.8823529411764706,
 (148, 15618862): 0.8823529411764706,
 (193, 191211): 0.8823529411764706,
 (20, 91546): 0.8823529411764706,
 (276, 90555): 0.8823529411764706,
 (193, 857707): 0.8823529411764706,
 (110, 7815007): 0.8823529411764706,
 (20, 14247369): 0.8823529411764706,
 (16, 90548): 0.8823529411764706,
 (151, 15706546): 0.8823529411764706,
 (599, 1618974): 0.881578947368421,
 (186, 15797242): 0.8813559322033898,
 (206, 90435): 0.8809523809523809,
 (29, 2134462): 0.8809523809523809,
 (198, 5048602): 0.88,
 (151, 13793410): 0.88,
 (151, 15586488): 0.88,
 (160, 13870546): 0.88,
 (20, 15586488): 0.88,
 (151, 233108): 0.8796296296296297,
 (151, 14231578): 0.8793103448275862,
 (20, 91661): 0.8787878787878788,
 (20, 14223539): 0.8787878787878788,
 (151, 90508): 0.8787878787878788,
 (20, 15094812): 0.8787878787878788,
 (830, 91033): 0.8787878787878788,
 (20, 91011): 0.8775510204081632,
 (62, 15449328): 0.8775510204081632,
 (488, 90666): 0.8769230769230769,
 (151, 13199877): 0.8768656716417911,
 (151, 91630): 0.8762886597938144,
 (20, 15449328): 0.8761061946902655,
 (198, 90548): 0.8758169934640523,
 (167, 1618974): 0.875,
 (20, 12327183): 0.875,
 (20, 91665): 0.875,
 (151, 14231548): 0.875,
 (20, 13793410): 0.875,
 (112, 14223539): 0.875,
 (167, 10682608): 0.875,
 (20, 599244): 0.875,
 (148, 90435): 0.875,
 (148, 6368403): 0.875,
 (193, 91032): 0.875,
 (148, 6856242): 0.875,
 (20, 912161): 0.875,
 (160, 4951523): 0.875,
 (151, 14231717): 0.875,
 (148, 12327183): 0.875,
 (20, 6944162): 0.875,
 (198, 91074): 0.875,
 (54, 91122): 0.875,
 (20, 90437): 0.875,
 (112, 91650): 0.875,
 (25, 91083): 0.875,
 (186, 91597): 0.875,
 (24, 12644137): 0.875,
 (54, 90629): 0.875,
 (1057, 90666): 0.875,
 (20, 15221861): 0.875,
 (20, 90480): 0.8727272727272727,
 (151, 6856242): 0.8727272727272727,
 (830, 91009): 0.8723404255319149,
 (20, 12333825): 0.8723404255319149,
 (206, 6856242): 0.8717948717948718,
 (206, 12327183): 0.8717948717948718,
 (20, 91662): 0.8716216216216216,
 (20, 926632): 0.8709677419354839,
 (54, 90489): 0.8709677419354839,
 (16, 15132435): 0.8695652173913043,
 (151, 8480738): 0.8695652173913043,
 (40, 90404): 0.8695652173913043,
 (16, 15157864): 0.8695652173913043,
 (16, 91732): 0.8695652173913043,
 (167, 91512): 0.8695652173913043,
 (20, 12359484): 0.868421052631579,
 (20, 14350309): 0.868421052631579,
 (151, 294645): 0.8682432432432432,
 (151, 91518): 0.8676470588235294,
 (20, 4976530): 0.8666666666666667,
 (20, 14231578): 0.8666666666666667,
 (40, 10614956): 0.8666666666666667,
 (16, 6202209): 0.8666666666666667,
 (20, 14231691): 0.8666666666666667,
 (20, 278428): 0.8666666666666667,
 (148, 91046): 0.8666666666666667,
 (187, 7811879): 0.8666666666666667,
 (29, 191211): 0.8666666666666667,
 (20, 15094330): 0.8666666666666667,
 (20, 90960): 0.8666666666666667,
 (20, 91051): 0.8666666666666667,
 (16, 91471): 0.8666666666666667,
 (151, 14223599): 0.8666666666666667,
 (151, 14234999): 0.865979381443299,
 (20, 14181786): 0.8648648648648649,
 (20, 91052): 0.864406779661017,
 (158, 819268): 0.8636363636363636,
 (54, 6499811): 0.8636363636363636,
 (153, 90714): 0.8636363636363636,
 (546, 7815007): 0.8636363636363636,
 (54, 14405299): 0.8636363636363636,
 (153, 4992497): 0.8636363636363636,
 (20, 1626816): 0.8636363636363636,
 (20, 90435): 0.8635703918722787,
 (151, 16079330): 0.8631578947368421,
 (151, 226666): 0.863013698630137,
 (20, 90477): 0.8629592850049652,
 (20, 91018): 0.8623271889400922,
 (54, 6374360): 0.8620689655172413,
 (206, 91072): 0.8620689655172413,
 (198, 90543): 0.8611898016997167,
 (151, 90489): 0.8611111111111112,
 (151, 15808762): 0.8611111111111112,
 (599, 91649): 0.8611111111111112,
 (830, 91070): 0.8611111111111112,
 (25, 90625): 0.8607594936708861,
 (20, 91033): 0.8606676342525399,
 (151, 12333825): 0.8602739726027397,
 (20, 857707): 0.8602150537634409,
 (151, 14223359): 0.8601190476190477,
 (20, 15032315): 0.8586956521739131,
 (20, 818965): 0.8581560283687943,
 (112, 13021356): 0.8571428571428571,
 (112, 14231579): 0.8571428571428571,
 (173, 989391): 0.8571428571428571,
 (173, 989392): 0.8571428571428571,
 (16, 12327158): 0.8571428571428571,
 (20, 4953538): 0.8571428571428571,
 (599, 91650): 0.8571428571428571,
 (40, 14960839): 0.8571428571428571,
 (151, 10731573): 0.8571428571428571,
 (20, 91210): 0.8571428571428571,
 (20, 91156): 0.8571428571428571,
 (20, 90445): 0.8571428571428571,
 (160, 10604386): 0.8571428571428571,
 (148, 91019): 0.8571428571428571,
 (29, 12327158): 0.8571428571428571,
 (16, 91088): 0.8571428571428571,
 (20, 91632): 0.8571428571428571,
 (20, 294645): 0.8571428571428571,
 (474, 90783): 0.8571428571428571,
 (151, 13199892): 0.8571428571428571,
 (20, 13446358): 0.8571428571428571,
 (20, 936950): 0.8571428571428571,
 (40, 12324053): 0.8571428571428571,
 (20, 15085725): 0.8571428571428571,
 (22, 90402): 0.8571428571428571,
 (151, 90783): 0.8571428571428571,
 (160, 90403): 0.8571428571428571,
 (148, 818965): 0.8571428571428571,
 (20, 91073): 0.8571428571428571,
 (29, 231267): 0.8571428571428571,
 (40, 6374360): 0.8571428571428571,
 (193, 91074): 0.8571428571428571,
 (151, 15094812): 0.8571428571428571,
 (54, 91801): 0.8571428571428571,
 (20, 14369211): 0.8571428571428571,
 (198, 6374342): 0.855072463768116,
 (20, 12327177): 0.8540540540540541,
 (148, 12324053): 0.8536585365853658,
 (16, 90404): 0.8529411764705882,
 (352, 91009): 0.8529411764705882,
 (167, 91009): 0.8529411764705882,
 (151, 90470): 0.8529411764705882,
 (187, 8264452): 0.8529411764705882,
 (209, 14181786): 0.8524590163934426,
 (160, 14181786): 0.8524590163934426,
 (20, 91625): 0.8523489932885906,
 (167, 10682513): 0.8518518518518519,
 (22, 15697648): 0.8518518518518519,
 (151, 14727323): 0.8518518518518519,
 (151, 91628): 0.8518518518518519,
 (18, 91502): 0.8518518518518519,
 (20, 12342078): 0.8518518518518519,
 (153, 90477): 0.8511627906976744,
 (151, 14230080): 0.8507462686567164,
 (20, 90478): 0.8500669344042838,
 (830, 91083): 0.85,
 (20, 14193156): 0.85,
 (29, 12333825): 0.85,
 (40, 488061): 0.85,
 (20, 14222511): 0.85,
 (20, 16047340): 0.85,
 (20, 90497): 0.85,
 (16, 6122737): 0.85,
 (20, 14382342): 0.85,
 (151, 281934): 0.85,
 (20, 7812186): 0.85,
 (20, 91197): 0.85,
 (25, 6269371): 0.85,
 (148, 91074): 0.85,
 (112, 91621): 0.85,
 (20, 15720347): 0.85,
 (20, 90404): 0.85,
 (151, 14181786): 0.8490566037735849,
 (160, 91083): 0.8484848484848485,
 (20, 13477846): 0.8484848484848485,
 (148, 91085): 0.8484848484848485,
 (151, 91665): 0.8484848484848485,
 (198, 90625): 0.8479809976247031,
 (151, 278429): 0.8478260869565217,
 (20, 6101352): 0.8478260869565217,
 (198, 10599873): 0.8472906403940886,
 (148, 91083): 0.8470588235294118,
 (20, 14405299): 0.8467741935483871,
 (1057, 90551): 0.8461538461538461,
 (352, 91018): 0.8461538461538461,
 (20, 284394): 0.8461538461538461,
 (54, 14415429): 0.8461538461538461,
 (25, 91019): 0.8461538461538461,
 (54, 14727194): 0.8461538461538461,
 (151, 15147868): 0.8461538461538461,
 (151, 14947454): 0.8461538461538461,
 (147, 7877999): 0.8461538461538461,
 (20, 6144238): 0.8461538461538461,
 (27, 7812056): 0.8461538461538461,
 (112, 90680): 0.8461538461538461,
 (114, 989042): 0.8461538461538461,
 (24, 12644151): 0.8461538461538461,
 (20, 15296735): 0.8461538461538461,
 (20, 186461): 0.8461538461538461,
 (54, 90478): 0.8461538461538461,
 (151, 15085330): 0.8461538461538461,
 (20, 15510954): 0.8461538461538461,
 (830, 91074): 0.8461538461538461,
 (20, 15553892): 0.8461538461538461,
 (91, 7812178): 0.8461538461538461,
 (20, 91028): 0.8461538461538461,
 (20, 13946516): 0.8461538461538461,
 (41, 944108): 0.8461538461538461,
 (20, 90442): 0.8461538461538461,
 (151, 14231579): 0.845360824742268,
 (151, 14230086): 0.8444444444444444,
 (187, 7811877): 0.8444444444444444,
 (151, 14231177): 0.8443396226415094,
 (20, 91630): 0.8441558441558441,
 (25, 90708): 0.84375,
 (348, 90626): 0.8431372549019608,
 (206, 91074): 0.8431372549019608,
 (20, 91104): 0.8431372549019608,
 (151, 12327183): 0.8428571428571429,
 (25, 91518): 0.8421052631578947,
 (40, 91502): 0.8421052631578947,
 (151, 90477): 0.8421052631578947,
 (112, 91600): 0.8421052631578947,
 (151, 13793422): 0.8421052631578947,
 (91, 7811915): 0.8421052631578947,
 (20, 15293385): 0.8421052631578947,
 (20, 14234999): 0.8421052631578947,
 (147, 91625): 0.8421052631578947,
 (20, 91520): 0.8421052631578947,
 (20, 13199877): 0.8421052631578947,
 (54, 1558993): 0.8421052631578947,
 (16, 16056423): 0.8421052631578947,
 (24, 90692): 0.8421052631578947,
 (20, 7812198): 0.8409090909090909,
 (153, 90478): 0.8402061855670103,
 (43, 2134462): 0.84,
 (43, 766160): 0.84,
 (151, 13373756): 0.84,
 (112, 91638): 0.84,
 (167, 15797242): 0.84,
 (20, 7815003): 0.8389830508474576,
 (1057, 10599873): 0.8389830508474576,
 (29, 11917806): 0.8387096774193549,
 (148, 6374360): 0.8387096774193549,
 (112, 91646): 0.8387096774193549,
 (193, 10604386): 0.8387096774193549,
 (20, 91019): 0.8387096774193549,
 (20, 91643): 0.8382352941176471,
 (20, 281935): 0.8378378378378378,
 (62, 8276630): 0.8378378378378378,

#### Бренд

In [276]:
orders_brand_count = orders_df.groupby(by=['brand-id'])['user-id', 'created-at', 'target'].agg(
    Count=('created-at', 'count'),
    Gender=('target', np.mean)
).query(f'Count >= {BORDER}').sort_values(by='Gender', ascending=False)

C:\Users\Demion\AppData\Local\Temp\ipykernel_12608\248900050.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  orders_brand_count = orders_df.groupby(by=['brand-id'])['user-id', 'created-at', 'target'].agg(

In [277]:
orders_brand_count = orders_df.groupby(by=['brand-id'])['user-id', 'created-at', 'target'].agg(
    Count=('created-at', 'count'),
    Gender=('target', np.mean)
).query(f'Count >= {BORDER}').sort_values(by='Gender', ascending=False)['Gender'].to_dict()

C:\Users\Demion\AppData\Local\Temp\ipykernel_12608\1649155032.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  orders_brand_count = orders_df.groupby(by=['brand-id'])['user-id', 'created-at', 'target'].agg(

In [278]:
orders_brand_count

{1618.0: 1.0,
 39928.0: 1.0,
 1933697.0: 1.0,
 1935148.0: 1.0,
 12357.0: 1.0,
 33997.0: 1.0,
 34096.0: 1.0,
 10618.0: 1.0,
 35116.0: 1.0,
 35730.0: 1.0,
 35799.0: 1.0,
 1196052.0: 1.0,
 37169.0: 1.0,
 8538.0: 1.0,
 37328.0: 1.0,
 37546.0: 1.0,
 6411.0: 1.0,
 2173.0: 1.0,
 13758.0: 1.0,
 31615.0: 1.0,
 18238.0: 1.0,
 1911917.0: 1.0,
 24249.0: 1.0,
 28212.0: 1.0,
 22876.0: 1.0,
 19101.0: 1.0,
 18344.0: 1.0,
 29992.0: 1.0,
 14550.0: 1.0,
 1944.0: 1.0,
 1903403.0: 1.0,
 2035.0: 1.0,
 30883.0: 1.0,
 1901582.0: 1.0,
 1920848.0: 1.0,
 6385.0: 1.0,
 9826.0: 1.0,
 1913908.0: 1.0,
 142178.0: 1.0,
 125035.0: 1.0,
 130238.0: 1.0,
 4723.0: 1.0,
 58908.0: 1.0,
 1208583.0: 1.0,
 135555.0: 1.0,
 1888053.0: 1.0,
 55737.0: 1.0,
 67017.0: 1.0,
 61348.0: 1.0,
 1203819.0: 1.0,
 640470.0: 1.0,
 3345.0: 1.0,
 953750.0: 1.0,
 41572.0: 1.0,
 1955195.0: 1.0,
 3449631.0: 1.0,
 6047.0: 1.0,
 6409.0: 0.9736842105263158,
 1898383.0: 0.967741935483871,
 17808.0: 0.9666666666666667,
 1971.0: 0.9655172413793104,
 14677.0: 0.9655172413793104,
 5887.0: 0.9629629629629629,
 30042.0: 0.9615384615384616,
 1560910.0: 0.9545454545454546,
 52689.0: 0.9545454545454546,
 40346.0: 0.9534883720930233,
 12377.0: 0.9523809523809523,
 6376.0: 0.95,
 2390.0: 0.95,
 29489.0: 0.95,
 9429.0: 0.9473684210526315,
 1958993.0: 0.9444444444444444,
 1946813.0: 0.9444444444444444,
 3528.0: 0.9444444444444444,
 1002.0: 0.9426229508196722,
 33512.0: 0.9411764705882353,
 1402.0: 0.9411764705882353,
 15519.0: 0.9411764705882353,
 35501.0: 0.9411764705882353,
 33111.0: 0.9411764705882353,
 27799.0: 0.9375,
 1889891.0: 0.9375,
 3321.0: 0.9375,
 26697.0: 0.9375,
 25945.0: 0.9375,
 2773.0: 0.9375,
 16478.0: 0.9375,
 31183.0: 0.9354838709677419,
 40396.0: 0.9354838709677419,
 6682.0: 0.9333333333333333,
 5903.0: 0.9333333333333333,
 34328.0: 0.9333333333333333,
 3469.0: 0.9333333333333333,
 29329.0: 0.9333333333333333,
 1305.0: 0.9333333333333333,
 1485973.0: 0.9333333333333333,
 35988.0: 0.9333333333333333,
 30323.0: 0.9310344827586207,
 125556.0: 0.9285714285714286,
 1209571.0: 0.9285714285714286,
 953900.0: 0.9285714285714286,
 1194059.0: 0.9285714285714286,
 4854.0: 0.9285714285714286,
 3026.0: 0.9285714285714286,
 3426107.0: 0.9285714285714286,
 3707.0: 0.9285714285714286,
 52002.0: 0.9230769230769231,
 2570.0: 0.9230769230769231,
 24510.0: 0.9230769230769231,
 1911670.0: 0.9230769230769231,
 1620.0: 0.9230769230769231,
 13697.0: 0.9230769230769231,
 29491.0: 0.9230769230769231,
 31258.0: 0.9230769230769231,
 1555825.0: 0.9230769230769231,
 1627.0: 0.9210526315789473,
 1034.0: 0.92,
 12190.0: 0.92,
 9770.0: 0.9166666666666666,
 10440.0: 0.9166666666666666,
 40770.0: 0.9166666666666666,
 32535.0: 0.9166666666666666,
 3035693.0: 0.9166666666666666,
 5891.0: 0.9166666666666666,
 1014.0: 0.9166666666666666,
 62705.0: 0.9166666666666666,
 85550.0: 0.9166666666666666,
 1211355.0: 0.9166666666666666,
 120121.0: 0.9166666666666666,
 3717.0: 0.9166666666666666,
 3245.0: 0.9166666666666666,
 13883.0: 0.9166666666666666,
 24991.0: 0.9166666666666666,
 1913695.0: 0.9166666666666666,
 16759.0: 0.9166666666666666,
 29713.0: 0.9166666666666666,
 23788.0: 0.9166666666666666,
 1918.0: 0.9142857142857143,
 9823.0: 0.9130434782608695,
 6422.0: 0.9130434782608695,
 62924.0: 0.9090909090909091,
 2403.0: 0.9090909090909091,
 9903.0: 0.9090909090909091,
 51160.0: 0.9090909090909091,
 29948.0: 0.9090909090909091,
 36496.0: 0.9090909090909091,
 1918362.0: 0.9090909090909091,
 111123.0: 0.9090909090909091,
 1211256.0: 0.9090909090909091,
 122123.0: 0.9090909090909091,
 951586.0: 0.9090909090909091,
 3420.0: 0.9090909090909091,
 15507.0: 0.9090909090909091,
 1907964.0: 0.9090909090909091,
 3740.0: 0.90625,
 2843.0: 0.90625,
 1484.0: 0.90625,
 1375.0: 0.9054054054054054,
 114502.0: 0.9047619047619048,
 1166.0: 0.9032258064516129,
 1505.0: 0.9032258064516129,
 30778.0: 0.9,
 4590.0: 0.9,
 12331.0: 0.9,
 101714.0: 0.9,
 13286.0: 0.9,
 23970.0: 0.9,
 24330.0: 0.9,
 25586.0: 0.9,
 3164955.0: 0.9,
 32289.0: 0.9,
 3603.0: 0.9,
 142216.0: 0.9,
 24974.0: 0.9,
 1899739.0: 0.9,
 1199912.0: 0.9,
 31875.0: 0.9,
 1922934.0: 0.9,
 61775.0: 0.9,
 33594.0: 0.9,
 14823.0: 0.9,
 1916625.0: 0.9,
 10936.0: 0.9,
 2802555.0: 0.9,
 14554.0: 0.9,
 2264.0: 0.9,
 6077.0: 0.9,
 5893.0: 0.8974358974358975,
 3631.0: 0.896551724137931,
 6294.0: 0.896551724137931,
 6257.0: 0.8958333333333334,
 34406.0: 0.8947368421052632,
 2519.0: 0.8947368421052632,
 6191.0: 0.8913043478260869,
 3533.0: 0.8888888888888888,
 2400.0: 0.8888888888888888,
 3550.0: 0.8888888888888888,
 26292.0: 0.8888888888888888,
 26018.0: 0.8888888888888888,
 1522.0: 0.8888888888888888,
 30488.0: 0.8888888888888888,
 57306.0: 0.8888888888888888,
 1789.0: 0.8888888888888888,
 58973.0: 0.8888888888888888,
 2086.0: 0.8888888888888888,
 2370.0: 0.8846153846153846,
 1612.0: 0.8823529411764706,
 30274.0: 0.8823529411764706,
 1013.0: 0.8823529411764706,
 2741.0: 0.8823529411764706,
 3676318.0: 0.8823529411764706,
 3537853.0: 0.8823529411764706,
 2739.0: 0.8809523809523809,
 16101.0: 0.8787878787878788,
 27079.0: 0.8787878787878788,
 993.0: 0.8785046728971962,
 10418.0: 0.8757396449704142,
 3426.0: 0.875,
 14956.0: 0.875,
 1390.0: 0.875,
 23562.0: 0.875,
 10923.0: 0.875,
 107443.0: 0.875,
 33251.0: 0.875,
 1904182.0: 0.875,
 3640.0: 0.875,
 1601.0: 0.875,
 1860688.0: 0.875,
 3130.0: 0.8736842105263158,
 964.0: 0.8727272727272727,
 4727.0: 0.8717948717948718,
 3554.0: 0.8709677419354839,
 15585.0: 0.8709677419354839,
 2031.0: 0.8703703703703703,
 27357.0: 0.8695652173913043,
 6343.0: 0.8695652173913043,
 2246.0: 0.8695652173913043,
 16837.0: 0.8695652173913043,
 5877.0: 0.8688524590163934,
 1740.0: 0.868421052631579,
 1621.0: 0.8682634730538922,
 2068.0: 0.8675496688741722,
 1946.0: 0.8670694864048338,
 15805.0: 0.8666666666666667,
 1723.0: 0.8666666666666667,
 44609.0: 0.8666666666666667,
 6211.0: 0.8666666666666667,
 30538.0: 0.8666666666666667,
 6268.0: 0.8666666666666667,
 7952.0: 0.8666666666666667,
 41957.0: 0.8666666666666667,
 2669.0: 0.8666666666666667,
 125839.0: 0.8648648648648649,
 1215.0: 0.8645833333333334,
 6338.0: 0.864406779661017,
 4780.0: 0.8636363636363636,
 26189.0: 0.8636363636363636,
 15604.0: 0.8620689655172413,
 3401.0: 0.8620689655172413,
 6462.0: 0.8620689655172413,
 4636.0: 0.8615384615384616,
 29796.0: 0.8611111111111112,
 2645.0: 0.8604651162790697,
 10924.0: 0.8604651162790697,
 1007.0: 0.8571428571428571,
 12442.0: 0.8571428571428571,
 1999.0: 0.8571428571428571,
 33050.0: 0.8571428571428571,
 35833.0: 0.8571428571428571,
 1898437.0: 0.8571428571428571,
 1910463.0: 0.8571428571428571,
 6307.0: 0.8571428571428571,
 18801.0: 0.8571428571428571,
 7164.0: 0.8571428571428571,
 27067.0: 0.8571428571428571,
 1363.0: 0.853448275862069,
 10932.0: 0.8529411764705882,
 1298.0: 0.8523489932885906,
 3097497.0: 0.8518518518518519,
 1211265.0: 0.8507462686567164,
 1501.0: 0.85,
 1990.0: 0.85,
 23576.0: 0.85,
 2786.0: 0.85,
 1277.0: 0.8487394957983193,
 53397.0: 0.8484848484848485,
 1495.0: 0.847457627118644,
 6119.0: 0.8461538461538461,
 1336.0: 0.8461538461538461,
 3343.0: 0.8461538461538461,
 3761.0: 0.8461538461538461,
 30551.0: 0.8461538461538461,
 1193818.0: 0.8461538461538461,
 5837.0: 0.8461538461538461,
 1039.0: 0.8461538461538461,
 25056.0: 0.8461538461538461,
 9902.0: 0.8461538461538461,
 18028.0: 0.8461538461538461,
 1085.0: 0.8461538461538461,
 1914593.0: 0.8461538461538461,
 16508.0: 0.8461538461538461,
 25895.0: 0.8461538461538461,
 1215511.0: 0.8461538461538461,
 13870.0: 0.8461538461538461,
 3303.0: 0.8461538461538461,
 48734.0: 0.8461538461538461,
 23707.0: 0.8461538461538461,
 29807.0: 0.8461538461538461,
 1109.0: 0.84375,
 5911.0: 0.8433734939759037,
 109710.0: 0.8428835489833642,
 1198.0: 0.8421052631578947,
 31890.0: 0.8421052631578947,
 1211501.0: 0.8421052631578947,
 1195294.0: 0.8421052631578947,
 2317.0: 0.8421052631578947,
 32742.0: 0.8421052631578947,
 24892.0: 0.84,
 6056.0: 0.84,
 10402.0: 0.8387096774193549,
 12052.0: 0.8366013071895425,
 2307.0: 0.8365384615384616,
 7156.0: 0.8345864661654135,
 3307.0: 0.834319526627219,
 16149.0: 0.8333333333333334,
 1987.0: 0.8333333333333334,
 1537.0: 0.8333333333333334,
 1851.0: 0.8333333333333334,
 1893821.0: 0.8333333333333334,
 13630.0: 0.8333333333333334,
 55852.0: 0.8333333333333334,
 3420816.0: 0.8333333333333334,
 2078.0: 0.8333333333333334,
 25600.0: 0.8333333333333334,
 64103.0: 0.8333333333333334,
 25270.0: 0.8333333333333334,
 4631.0: 0.8333333333333334,
 26722.0: 0.8333333333333334,
 44541.0: 0.8333333333333334,
 17932.0: 0.8333333333333334,
 5817.0: 0.8333333333333334,
 3149.0: 0.8333333333333334,
 58404.0: 0.8333333333333334,
 12565.0: 0.8333333333333334,
 1920120.0: 0.8333333333333334,
 2266.0: 0.8333333333333334,
 12134.0: 0.8333333333333334,
 23757.0: 0.8333333333333334,
 8216.0: 0.8333333333333334,
 24585.0: 0.8333333333333334,
 1920047.0: 0.8333333333333334,
 1211.0: 0.8313253012048193,
 18985.0: 0.8260869565217391,
 16788.0: 0.8260869565217391,
 6407.0: 0.8260869565217391,
 10626.0: 0.825,
 12149.0: 0.8235294117647058,
 2537.0: 0.8235294117647058,
 25890.0: 0.8235294117647058,
 2328.0: 0.8235294117647058,
 3339.0: 0.8235294117647058,
 3302.0: 0.8235294117647058,
 2913.0: 0.8229166666666666,
 25673.0: 0.8214285714285714,
 1005.0: 0.8214285714285714,
 7167.0: 0.8208955223880597,
 2455.0: 0.8208333333333333,
 2150.0: 0.8205128205128205,
 6355.0: 0.8205128205128205,
 1388.0: 0.82,
 943.0: 0.82,
 11134.0: 0.8181818181818182,
 16950.0: 0.8181818181818182,
 1940837.0: 0.8181818181818182,
 11342.0: 0.8181818181818182,
 33581.0: 0.8181818181818182,
 1909200.0: 0.8181818181818182,
 3568.0: 0.8181818181818182,
 1898774.0: 0.8181818181818182,
 24889.0: 0.8181818181818182,
 4697.0: 0.8181818181818182,
 25755.0: 0.8181818181818182,
 92629.0: 0.8181818181818182,
 23646.0: 0.8181818181818182,
 4712.0: 0.8181818181818182,
 13327.0: 0.8181818181818182,
 18051.0: 0.8181818181818182,
 342108.0: 0.8181818181818182,
 1948018.0: 0.8181818181818182,
 59654.0: 0.8181818181818182,
 32841.0: 0.8181818181818182,
 1914652.0: 0.8181818181818182,
 38376.0: 0.8181818181818182,
 112151.0: 0.8181818181818182,
 1888618.0: 0.8181818181818182,
 3892.0: 0.8166666666666667,
 1925.0: 0.8166666666666667,
 4235.0: 0.8163265306122449,
 2534.0: 0.8157894736842105,
 3138.0: 0.8148148148148148,
 2447.0: 0.8148148148148148,
 1342.0: 0.8142857142857143,
 1943090.0: 0.8133333333333334,
 1460.0: 0.8133333333333334,
 3893.0: 0.8126463700234192,
 61633.0: 0.8125,
 129006.0: 0.8125,
 7074.0: 0.8125,
 3465569.0: 0.8125,
 31464.0: 0.8125,
 25773.0: 0.8125,
 25033.0: 0.8125,
 124402.0: 0.8125,
 7143.0: 0.8125,
 1894973.0: 0.8125,
 1905723.0: 0.8125,
 116578.0: 0.8125,
 6387.0: 0.8115942028985508,
 4770.0: 0.8095238095238095,
 1973.0: 0.8095238095238095,
 26062.0: 0.8095238095238095,
 7048.0: 0.8095238095238095,
 3884.0: 0.8095238095238095,
 1891069.0: 0.8095238095238095,
 3324.0: 0.8095238095238095,
 2917.0: 0.8088235294117647,
 57742.0: 0.8076923076923077,
 1068.0: 0.8076923076923077,
 6082.0: 0.8064516129032258,
 3304.0: 0.8059071729957806,
 6375.0: 0.8055555555555556,
 3240.0: 0.8055555555555556,
 6369.0: 0.8051948051948052,
 1798.0: 0.8048780487804879,
 5892.0: 0.8043478260869565,
 1943068.0: 0.803921568627451,
 1546.0: 0.8035714285714286,
 6334.0: 0.8026315789473685,
 986.0: 0.800982800982801,
 68599.0: 0.8,
 16654.0: 0.8,
 2796.0: 0.8,
 6962.0: 0.8,
 2644.0: 0.8,
 2670.0: 0.8,
 33887.0: 0.8,
 3409521.0: 0.8,
 1919418.0: 0.8,
 5936.0: 0.8,
 29348.0: 0.8,
 1894898.0: 0.8,
 18933.0: 0.8,
 34621.0: 0.8,
 14728.0: 0.8,
 14890.0: 0.8,
 14938.0: 0.8,
 2594.0: 0.8,
 2873.0: 0.8,
 13422.0: 0.8,
 1258.0: 0.8,
 29372.0: 0.8,
 60201.0: 0.8,
 10653.0: 0.8,
 61388.0: 0.8,
 25929.0: 0.8,
 2691.0: 0.8,
 3590.0: 0.8,
 18264.0: 0.8,
 1489.0: 0.8,
 1939164.0: 0.8,
 16092.0: 0.8,
 1939937.0: 0.8,
 83332.0: 0.8,
 1941272.0: 0.8,
 2080.0: 0.8,
 1896674.0: 0.8,
 1949748.0: 0.8,
 1900.0: 0.8,
 52575.0: 0.8,
 2452.0: 0.8,
 33122.0: 0.8,
 134953.0: 0.8,
 17653.0: 0.8,
 30271.0: 0.8,
 82325.0: 0.8,
 34688.0: 0.8,
 1795.0: 0.7966101694915254,
 32734.0: 0.7962962962962963,
 1861.0: 0.7961165048543689,
 3243.0: 0.7948717948717948,
 83015.0: 0.7948717948717948,
 6246.0: 0.7931034482758621,
 825.0: 0.7916666666666666,
 944.0: 0.7894736842105263,
 84125.0: 0.7894736842105263,
 1491820.0: 0.7894736842105263,
 1193847.0: 0.7894736842105263,
 2579.0: 0.7894736842105263,
 4001.0: 0.7894736842105263,
 1918265.0: 0.7894736842105263,
 31456.0: 0.7894736842105263,
 129287.0: 0.7894736842105263,
 11906.0: 0.7894736842105263,
 1943126.0: 0.7878787878787878,
 999.0: 0.7875,
 2427.0: 0.786833855799373,
 25996.0: 0.7857142857142857,
 3595.0: 0.7857142857142857,
 3228.0: 0.7857142857142857,
 42294.0: 0.7857142857142857,
 16994.0: 0.7857142857142857,
 1758.0: 0.7857142857142857,
 29347.0: 0.7857142857142857,
 1887912.0: 0.7857142857142857,
 1918550.0: 0.7857142857142857,
 15593.0: 0.7857142857142857,
 1209135.0: 0.7857142857142857,
 3113.0: 0.7857142857142857,
 123546.0: 0.7857142857142857,
 1841.0: 0.7846153846153846,
 14158.0: 0.7833333333333333,
 7477.0: 0.782608695652174,
 1960482.0: 0.782608695652174,
 6285.0: 0.782608695652174,
 1805.0: 0.78125,
 10659.0: 0.7804878048780488,
 33000.0: 0.7777777777777778,
 9898.0: 0.7777777777777778,
 2270.0: 0.7777777777777778,
 124064.0: 0.7777777777777778,
 1645.0: 0.7777777777777778,
 16457.0: 0.7777777777777778,
 1914899.0: 0.7777777777777778,
 6997.0: 0.7777777777777778,
 13843.0: 0.7777777777777778,
 18735.0: 0.7777777777777778,
 2361.0: 0.7761194029850746,
 1289.0: 0.7756410256410257,
 4587.0: 0.775,
 1766.0: 0.7741935483870968,
 26515.0: 0.7741935483870968,
 24433.0: 0.7727272727272727,
 2538.0: 0.7727272727272727,
 23924.0: 0.7727272727272727,
 1737.0: 0.772,
 1880.0: 0.7714285714285715,
 30268.0: 0.7692307692307693,
 26630.0: 0.7692307692307693,
 26023.0: 0.7692307692307693,
 23203.0: 0.7692307692307693,
 1913972.0: 0.7692307692307693,
 1457.0: 0.7692307692307693,
 25887.0: 0.7692307692307693,
 532910.0: 0.7692307692307693,
 1905771.0: 0.7692307692307693,
 42507.0: 0.7692307692307693,
 1930156.0: 0.7692307692307693,
 72320.0: 0.7692307692307693,
 2407.0: 0.7692307692307693,
 2085.0: 0.7692307692307693,
 54673.0: 0.7692307692307693,
 3632.0: 0.7692307692307693,
 981.0: 0.7692307692307693,
 2083.0: 0.7692307692307693,
 9366.0: 0.7674418604651163,
 2382.0: 0.7666666666666667,
 29353.0: 0.7647058823529411,
 13445.0: 0.7647058823529411,
 19733.0: 0.7647058823529411,
 2318.0: 0.7647058823529411,
 23988.0: 0.7647058823529411,
 24668.0: 0.7647058823529411,
 25039.0: 0.7647058823529411,
 11033.0: 0.7647058823529411,
 958437.0: 0.7647058823529411,
 32953.0: 0.7647058823529411,
 1763.0: 0.7639344262295082,
 2946.0: 0.7638888888888888,
 1868.0: 0.7631578947368421,
 955812.0: 0.7619047619047619,
 9961.0: 0.7619047619047619,
 13738.0: 0.7619047619047619,
 1901728.0: 0.7619047619047619,
 1927896.0: 0.7619047619047619,
 3448801.0: 0.7619047619047619,
 2372.0: 0.7619047619047619,
 521196.0: 0.76,
 80046.0: 0.76,
 1728.0: 0.76,
 24989.0: 0.7586206896551724,
 10405.0: 0.7575757575757576,
 9787.0: 0.7575757575757576,
 31598.0: 0.7575757575757576,
 7013.0: 0.7575757575757576,
 120397.0: 0.7575757575757576,
 4788.0: 0.7571428571428571,
 1916784.0: 0.7567567567567568,
 2432.0: 0.7555555555555555,
 2213.0: 0.7553191489361702,
 3446.0: 0.7551020408163265,
 1889.0: 0.7516059957173448,
 1888728.0: 0.75,
 6437.0: 0.75,
 71678.0: 0.75,
 2720443.0: 0.75,
 12205.0: 0.75,
 64609.0: 0.75,
 26336.0: 0.75,
 27469.0: 0.75,
 6561.0: 0.75,
 42950.0: 0.75,
 3152.0: 0.75,
 2696.0: 0.75,
 124061.0: 0.75,
 7816.0: 0.75,
 1936489.0: 0.75,
 10459.0: 0.75,
 105497.0: 0.75,
 1942665.0: 0.75,
 1902848.0: 0.75,
 14886.0: 0.75,
 1850.0: 0.75,
 31087.0: 0.75,
 33119.0: 0.75,
 17121.0: 0.75,
 32296.0: 0.75,
 16447.0: 0.75,
 1916265.0: 0.75,
 1894004.0: 0.75,
 3250.0: 0.75,
 1935910.0: 0.75,
 1401.0: 0.75,
 33104.0: 0.75,
 1919959.0: 0.75,
 36188.0: 0.75,
 32993.0: 0.75,
 1331.0: 0.75,
 18325.0: 0.75,
 13414.0: 0.75,
 23998.0: 0.75,
 13681.0: 0.75,
 2114.0: 0.75,
 13782.0: 0.75,
 23852.0: 0.75,
 13447.0: 0.7482394366197183,
 14571.0: 0.7481481481481481,
 6979.0: 0.7477203647416414,
 1696.0: 0.7469135802469136,
 16663.0: 0.7466666666666667,
 24329.0: 0.7457627118644068,
 4783.0: 0.7457627118644068,
 23290.0: 0.7446808510638298,
 817.0: 0.7435897435897436,
 2457.0: 0.7431192660550459,
 115436.0: 0.7428571428571429,
 3063.0: 0.7428571428571429,
 3545.0: 0.7428571428571429,
 1936.0: 0.7413793103448276,
 34757.0: 0.7407407407407407,
 1790.0: 0.7407407407407407,
 2077.0: 0.7397260273972602,
 3503.0: 0.7397260273972602,
 37323.0: 0.7391304347826086,
 1812.0: 0.7391304347826086,
 25772.0: 0.7391304347826086,
 6066.0: 0.7382198952879581,
 6232.0: 0.7380952380952381,
 18789.0: 0.7380952380952381,
 10494.0: 0.7380952380952381,
 3254.0: 0.7380952380952381,
 24492.0: 0.7368421052631579,
 3405.0: 0.7368421052631579,
 3741.0: 0.7368421052631579,
 1864.0: 0.7368421052631579,
 35278.0: 0.7368421052631579,
 13820.0: 0.7368421052631579,
 18231.0: 0.7368421052631579,
 4577.0: 0.7358490566037735,
 3116.0: 0.7352941176470589,
 1614.0: 0.7346938775510204,
 3754.0: 0.7345971563981043,
 4310.0: 0.7342657342657343,
 2267.0: 0.7342657342657343,
 1893982.0: 0.7333333333333333,
 27809.0: 0.7333333333333333,
 6574.0: 0.7333333333333333,
 1865.0: 0.7333333333333333,
 4149.0: 0.7333333333333333,
 18049.0: 0.7333333333333333,
 1899282.0: 0.7333333333333333,
 1016.0: 0.7332214765100671,
 1901587.0: 0.7324675324675325,
 18368.0: 0.7317073170731707,
 2073.0: 0.7317073170731707,
 3098.0: 0.7307692307692307,
 132581.0: 0.7307692307692307,
 951.0: 0.7307692307692307,
 1892146.0: 0.7307692307692307,
 12668.0: 0.7307692307692307,
 27371.0: 0.7307692307692307,
 2099.0: 0.7291666666666666,
 1726.0: 0.7288135593220338,
 58683.0: 0.7288135593220338,
 1887195.0: 0.7272727272727273,
 1703.0: 0.7272727272727273,
 1677.0: 0.7272727272727273,
 12433.0: 0.7272727272727273,
 1889904.0: 0.7272727272727273,
 35025.0: 0.7272727272727273,
 72791.0: 0.7272727272727273,
 16087.0: 0.7272727272727273,
 16097.0: 0.7272727272727273,
 24766.0: 0.7272727272727273,
 1198576.0: 0.7272727272727273,
 1936336.0: 0.7272727272727273,
 16239.0: 0.7272727272727273,
 52182.0: 0.7272727272727273,
 1895966.0: 0.7272727272727273,
 60427.0: 0.7272727272727273,
 3388.0: 0.7272727272727273,
 1902111.0: 0.7272727272727273,
 1557745.0: 0.7272727272727273,
 126021.0: 0.7272727272727273,
 19239.0: 0.7272727272727273,
 2215.0: 0.7272727272727273,
 32014.0: 0.7272727272727273,
 57559.0: 0.7272727272727273,
 54290.0: 0.7272727272727273,
 27148.0: 0.7272727272727273,
 13440.0: 0.7272727272727273,
 2740.0: 0.7272727272727273,
 26008.0: 0.7272727272727273,
 1542.0: 0.7272727272727273,
 13692.0: 0.7272727272727273,
 28055.0: 0.7272727272727273,
 7073.0: 0.7272727272727273,
 7077.0: 0.7272727272727273,
 1927886.0: 0.7272727272727273,
 26191.0: 0.7263157894736842,
 1673.0: 0.7261904761904762,
 1557421.0: 0.7254901960784313,
 1751.0: 0.7254901960784313,
 6016.0: 0.725,
 18930.0: 0.7222222222222222,
 2305.0: 0.7222222222222222,
 1888684.0: 0.7222222222222222,
 24658.0: 0.7222222222222222,
 17913.0: 0.7222222222222222,
 1407.0: 0.7222222222222222,
 31476.0: 0.7222222222222222,
 6971.0: 0.7209302325581395,
 7161.0: 0.72,
 69055.0: 0.72,
 1543.0: 0.72,
 17052.0: 0.72,
 1900571.0: 0.72,
 19552.0: 0.7192982456140351,
 24895.0: 0.71875,
 1045.0: 0.7176470588235294,
 2502.0: 0.7175572519083969,
 1087.0: 0.717391304347826,
 3200.0: 0.7169811320754716,
 19712.0: 0.7157894736842105,
 1555.0: 0.7147147147147147,
 1828.0: 0.7142857142857143,
 1939986.0: 0.7142857142857143,
 32428.0: 0.7142857142857143,
 1811.0: 0.7142857142857143,
 1761.0: 0.7142857142857143,
 23360.0: 0.7142857142857143,
 125095.0: 0.7142857142857143,
 31479.0: 0.7142857142857143,
 129550.0: 0.7142857142857143,
 50821.0: 0.7142857142857143,
 123466.0: 0.7142857142857143,
 33573.0: 0.7142857142857143,
 9829.0: 0.7142857142857143,
 1776.0: 0.7142857142857143,
 51103.0: 0.7142857142857143,

#### Сайт

In [279]:
orders_df.groupby(by=['site-id'])['user-id', 'created-at', 'target'].agg(
    Count=('created-at', 'count'),
    Gender=('target', np.mean)
).query(f'Count >= {BORDER}').sort_values(by='Gender', ascending=False)

C:\Users\Demion\AppData\Local\Temp\ipykernel_12608\1879741261.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  orders_df.groupby(by=['site-id'])['user-id', 'created-at', 'target'].agg(

         Count  Gender
site-id
1395        17     1.0
694         43     1.0
1788        13     1.0
1648        11     1.0
1516        20     1.0
...        ...     ...
1298        11     0.0
1299        10     0.0
1338        20     0.0
1357        11     0.0
1816        10     0.0

[710 rows x 2 columns]

In [280]:
orders_site_count = orders_df.groupby(by=['site-id'])['user-id', 'created-at', 'target'].agg(
    Count=('created-at', 'count'),
    Gender=('target', np.mean)
).query(f'Count >= {BORDER}').sort_values(by='Gender', ascending=False)['Gender'].to_dict()

C:\Users\Demion\AppData\Local\Temp\ipykernel_12608\3218816917.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  orders_site_count = orders_df.groupby(by=['site-id'])['user-id', 'created-at', 'target'].agg(

In [281]:
orders_site_count

{1395: 1.0,
 694: 1.0,
 1788: 1.0,
 1648: 1.0,
 1516: 1.0,
 1473: 1.0,
 1472: 1.0,
 1419: 1.0,
 1361: 0.96,
 1372: 0.9523809523809523,
 1317: 0.95,
 772: 0.9230769230769231,
 1248: 0.9166666666666666,
 1237: 0.9166666666666666,
 599: 0.889763779527559,
 1167: 0.8873239436619719,
 713: 0.8780487804878049,
 1267: 0.8709677419354839,
 535: 0.8666666666666667,
 830: 0.8646616541353384,
 139: 0.8586666666666667,
 744: 0.85,
 488: 0.8490856125586664,
 1351: 0.8333333333333334,
 1403: 0.8235294117647058,
 855: 0.8157894736842105,
 848: 0.8125,
 273: 0.8032786885245902,
 1225: 0.8,
 198: 0.7969653179190751,
 153: 0.7951945080091534,
 1364: 0.7916666666666666,
 151: 0.7885220875870623,
 1057: 0.7870370370370371,
 297: 0.781021897810219,
 1392: 0.7777777777777778,
 270: 0.7777777777777778,
 283: 0.7744565217391305,
 705: 0.7727272727272727,
 1496: 0.7692307692307693,
 1356: 0.7659574468085106,
 231: 0.7647058823529411,
 23: 0.7634011090573013,
 102: 0.7592592592592593,
 383: 0.7582417582417582,
 374: 0.7580645161290323,
 30: 0.7534597916110072,
 276: 0.7432675044883303,
 714: 0.7424242424242424,
 148: 0.7393136664659844,
 940: 0.7391304347826086,
 1046: 0.7352941176470589,
 1263: 0.7333333333333333,
 252: 0.7317073170731707,
 775: 0.7294964028776978,
 316: 0.7228260869565217,
 497: 0.7215189873417721,
 1251: 0.717948717948718,
 256: 0.711864406779661,
 676: 0.711340206185567,
 1239: 0.7105263157894737,
 1163: 0.7102974828375286,
 441: 0.7091839129006523,
 752: 0.708994708994709,
 1240: 0.7058823529411765,
 164: 0.7044233154195949,
 686: 0.7,
 1433: 0.7,
 582: 0.6986301369863014,
 1272: 0.696969696969697,
 1515: 0.696969696969697,
 352: 0.6966618287373004,
 288: 0.6932773109243697,
 1278: 0.6923076923076923,
 1409: 0.6888888888888889,
 737: 0.687888198757764,
 822: 0.6831550802139037,
 254: 0.6819637139807898,
 815: 0.6816479400749064,
 311: 0.6812453669384729,
 842: 0.68,
 1437: 0.6792452830188679,
 216: 0.6771378708551483,
 301: 0.6761904761904762,
 746: 0.6756756756756757,
 244: 0.6749555950266429,
 365: 0.6720351390922401,
 155: 0.6701312910284464,
 812: 0.668141592920354,
 1471: 0.6666666666666666,
 1601: 0.6666666666666666,
 819: 0.6666666666666666,
 1602: 0.6666666666666666,
 1341: 0.6666666666666666,
 1340: 0.6666666666666666,
 1332: 0.6666666666666666,
 968: 0.6666666666666666,
 1604: 0.6666666666666666,
 1258: 0.6666666666666666,
 776: 0.6666666666666666,
 558: 0.6648351648351648,
 260: 0.6620370370370371,
 802: 0.6596244131455399,
 874: 0.6585365853658537,
 140: 0.6574585635359116,
 1386: 0.6530612244897959,
 258: 0.6511627906976745,
 763: 0.65,
 1063: 0.6470588235294118,
 1269: 0.6428571428571429,
 110: 0.639454806312769,
 556: 0.6384947563232573,
 864: 0.6363636363636364,
 15: 0.6363636363636364,
 378: 0.6363636363636364,
 124: 0.6349693251533742,
 976: 0.6346153846153846,
 873: 0.6335877862595419,
 840: 0.6323777403035413,
 652: 0.631578947368421,
 192: 0.6313099041533546,
 787: 0.6296296296296297,
 214: 0.6287964004499438,
 91: 0.6270829962789193,
 1465: 0.6268656716417911,
 206: 0.6263524885789853,
 1015: 0.6253229974160207,
 1256: 0.625,
 193: 0.6242185075156298,
 241: 0.6211699164345403,
 128: 0.6205733558178752,
 147: 0.6172568968890628,
 501: 0.6172248803827751,
 1277: 0.6153846153846154,
 142: 0.6153846153846154,
 25: 0.6146391226727875,
 167: 0.6125979994593134,
 339: 0.6122448979591837,
 145: 0.6086956521739131,
 665: 0.6086956521739131,
 74: 0.6082024432809773,
 389: 0.6051087331722471,
 1: 0.603833090732654,
 876: 0.6031746031746031,
 79: 0.6031051825934834,
 668: 0.6004901960784313,
 268: 0.6004228329809725,
 681: 0.6,
 831: 0.6,
 1301: 0.5957446808510638,
 166: 0.5948275862068966,
 40: 0.5937388648511072,
 187: 0.5899705014749262,
 735: 0.58968850698174,
 116: 0.5878220140515222,
 37: 0.5865746549560853,
 844: 0.5860215053763441,
 699: 0.5853199498117942,
 285: 0.5833333333333334,
 362: 0.5833333333333334,
 35: 0.5829841146087126,
 120: 0.582089552238806,
 675: 0.5813953488372093,
 369: 0.5806451612903226,
 683: 0.580441640378549,
 165: 0.5799701046337817,
 161: 0.5789473684210527,
 154: 0.5785123966942148,
 75: 0.5760869565217391,
 121: 0.5758620689655173,
 24: 0.5756756756756757,
 343: 0.5738134206219313,
 585: 0.5735294117647058,
 349: 0.572434729811779,
 908: 0.5714285714285714,
 1292: 0.5714285714285714,
 189: 0.5686274509803921,
 478: 0.5685279187817259,
 1193: 0.5675675675675675,
 578: 0.5675182481751825,
 56: 0.5659469608073222,
 1325: 0.5657894736842105,
 2: 0.5656984150666223,
 1236: 0.5645161290322581,
 41: 0.5621432887933928,
 186: 0.5613268192337362,
 330: 0.56,
 217: 0.5595947556615017,
 201: 0.559470770892399,
 373: 0.5578231292517006,
 691: 0.5575373993095513,
 16: 0.5569556360752077,
 168: 0.5548387096774193,
 1319: 0.5531914893617021,
 204: 0.5516372795969773,
 348: 0.5511471269206483,
 48: 0.5507470376094796,
 994: 0.55,
 996: 0.5454545454545454,
 1162: 0.5434782608695652,
 879: 0.5432098765432098,
 359: 0.5395114942528736,
 112: 0.5388710750801622,
 739: 0.5384615384615384,
 160: 0.5358611238008223,
 210: 0.5350877192982456,
 262: 0.5347467608951708,
 750: 0.5333333333333333,
 29: 0.5331889612332417,
 347: 0.5296017222820237,
 965: 0.5285714285714286,
 342: 0.5285714285714286,
 938: 0.5283018867924528,
 474: 0.5263157894736842,
 1312: 0.5263157894736842,
 872: 0.525,
 66: 0.5201560468140443,
 355: 0.5195861049519586,
 1396: 0.5151515151515151,
 1491: 0.5144927536231884,
 39: 0.5122718141322387,
 429: 0.5116279069767442,
 129: 0.5089285714285714,
 26: 0.5055118110236221,
 853: 0.5047619047619047,
 489: 0.5015849338057058,
 20: 0.5015579957675836,
 346: 0.5006142808000393,
 1004: 0.5,
 1478: 0.5,
 1055: 0.5,
 1065: 0.5,
 392: 0.5,
 710: 0.5,
 78: 0.4962686567164179,
 52: 0.49244712990936557,
 745: 0.49242424242424243,
 689: 0.4917825537294564,
 821: 0.48936170212765956,
 657: 0.4889705882352941,
 1477: 0.4878048780487805,
 60: 0.48484848484848486,
 425: 0.48427672955974843,
 27: 0.48421926910299,
 380: 0.4817939609236234,
 557: 0.47953216374269003,
 1183: 0.4782608695652174,
 586: 0.4748603351955307,
 109: 0.4743515850144092,
 910: 0.47368421052631576,
 177: 0.47313328681088623,
 789: 0.4722222222222222,
 13: 0.4711723254324151,
 766: 0.47058823529411764,
 190: 0.46963761018609207,
 1232: 0.46875,
 307: 0.46807477543092985,
 81: 0.4678044996121024,
 708: 0.4666666666666667,
 860: 0.4666666666666667,
 207: 0.4659090909090909,
 546: 0.4648581997533909,
 22: 0.46399915540540543,
 191: 0.46175679713175977,
 1018: 0.46153846153846156,
 808: 0.46153846153846156,
 1440: 0.46153846153846156,
 616: 0.4594594594594595,
 1283: 0.4583333333333333,
 715: 0.4583333333333333,
 851: 0.45652173913043476,
 292: 0.45454545454545453,
 1410: 0.45454545454545453,
 1324: 0.45454545454545453,
 552: 0.45409429280397023,
 561: 0.45320197044334976,
 711: 0.45318352059925093,
 397: 0.45313710302091403,
 935: 0.4524714828897338,
 654: 0.4490909090909091,
 9: 0.44862795149968093,
 304: 0.4482758620689655,
 43: 0.44673539518900346,
 433: 0.4462962962962963,
 829: 0.44537815126050423,
 1306: 0.4444444444444444,
 1179: 0.4444444444444444,
 507: 0.4411764705882353,
 827: 0.439873417721519,
 49: 0.4387472995633979,
 1247: 0.43636363636363634,
 658: 0.43629047710289326,
 203: 0.4330708661417323,
 1181: 0.4329896907216495,
 712: 0.4326923076923077,
 59: 0.43184031158714703,
 353: 0.43034755580672507,
 323: 0.4296555750145943,
 891: 0.42857142857142855,
 240: 0.42857142857142855,
 103: 0.4274527867342239,
 1271: 0.4261904761904762,
 396: 0.425,
 239: 0.425,
 649: 0.4228571428571429,
 28: 0.4226618705035971,
 32: 0.4218289085545723,
 1157: 0.42105263157894735,
 817: 0.41935483870967744,
 619: 0.41935483870967744,
 351: 0.41923956546598057,
 371: 0.4183409588223593,
 720: 0.4166666666666667,
 163: 0.41647770219198793,
 372: 0.4148936170212766,
 291: 0.4148471615720524,
 83: 0.4145441122185308,
 119: 0.4122985448286653,
 101: 0.4119475138121547,
 589: 0.4095595126522962,
 707: 0.4090909090909091,
 315: 0.40816326530612246,
 134: 0.40458715596330275,
 328: 0.40298507462686567,
 409: 0.4,
 1187: 0.4,
 1348: 0.4,
 1000: 0.4,
 55: 0.39693524468610974,
 415: 0.3968253968253968,
 106: 0.3946519133241125,
 648: 0.3945578231292517,
 770: 0.39452054794520547,
 788: 0.39434889434889436,
 327: 0.3940149625935162,
 749: 0.391304347826087,
 118: 0.3905645784996133,
 21: 0.3901167279829223,
 90: 0.38855780691299163,
 1370: 0.3877551020408163,
 7: 0.3877195917684457,
 361: 0.38571859903381644,
 828: 0.3835616438356164,
 761: 0.38235294117647056,
 451: 0.38095238095238093,
 314: 0.38095238095238093,
 335: 0.3804347826086957,
 937: 0.38,
 100: 0.3783897857971932,
 646: 0.3772116065109696,
 854: 0.37583892617449666,
 1177: 0.375,
 62: 0.3748283752860412,
 859: 0.3728813559322034,
 602: 0.3713389121338912,
 218: 0.3707865168539326,
 769: 0.36649214659685864,
 688: 0.36585365853658536,
 94: 0.36574074074074076,
 1291: 0.36496350364963503,
 1245: 0.36363636363636365,
 266: 0.3634050133604784,
 751: 0.36036036036036034,
 627: 0.359375,
 85: 0.3572878603329273,
 1270: 0.35714285714285715,
 208: 0.35389536212017364,
 391: 0.35336381450032656,
 816: 0.35294117647058826,
 170: 0.3522012578616352,
 54: 0.35118749312439645,
 1185: 0.35,
 1333: 0.35,
 171: 0.35,
 305: 0.35,
 484: 0.34615384615384615,
 836: 0.34536082474226804,
 320: 0.3449367088607595,
 1006: 0.34375,
 1017: 0.34210526315789475,
 234: 0.34139236819108654,
 612: 0.3411764705882353,
 832: 0.34054054054054056,
 1257: 0.34,
 633: 0.33962264150943394,
 357: 0.33856437082243535,
 428: 0.33766233766233766,
 721: 0.3373493975903614,
 690: 0.33663366336633666,
 10: 0.33448743037784134,
 334: 0.3338235294117647,
 656: 0.3333333333333333,
 482: 0.3333333333333333,
 1371: 0.3333333333333333,
 565: 0.33223874830983197,
 684: 0.33157894736842103,
 137: 0.33114754098360655,
 150: 0.3297540023428348,
 317: 0.32898459603898145,
 871: 0.3283740701381509,
 63: 0.3283482568108211,
 624: 0.3275862068965517,
 31: 0.3273809523809524,
 303: 0.323943661971831,
 226: 0.3233082706766917,
 65: 0.322969126341143,
 158: 0.32259774685222004,
 98: 0.32201614154896785,
 350: 0.3218336483931947,
 1164: 0.32142857142857145,
 847: 0.32,
 310: 0.31868131868131866,
 444: 0.3170731707317073,
 156: 0.3158953722334004,
 1354: 0.3125,
 1310: 0.31097560975609756,
 11: 0.3106818010974968,
 248: 0.30655737704918035,
 781: 0.3058823529411765,
 196: 0.3054064417177914,
 875: 0.30407523510971785,
 734: 0.3037249283667622,
 223: 0.3026315789473684,
 326: 0.3026315789473684,
 202: 0.3010721529991307,
 50: 0.29983264941198046,
 325: 0.2989556135770235,
 180: 0.29797481439714313,
 319: 0.2975106253794778,
 431: 0.29608938547486036,
 404: 0.29545454545454547,
 805: 0.29411764705882354,
 698: 0.2932692307692308,
 436: 0.292772186642269,
 264: 0.29222520107238603,
 685: 0.2919185135437654,
 447: 0.29060381013884407,
 42: 0.29030620876332264,
 1178: 0.2894736842105263,
 18: 0.2881099656357388,
 197: 0.28718002961709327,
 647: 0.2871376811594203,
 1174: 0.2857142857142857,
 483: 0.2857142857142857,
 782: 0.2857142857142857,
 1220: 0.2840909090909091,
 173: 0.2829875518672199,
 263: 0.28294573643410853,
 194: 0.2808538303174775,
 113: 0.27906976744186046,
 883: 0.27714285714285714,
 1067: 0.27522935779816515,
 604: 0.27413127413127414,
 655: 0.2732919254658385,
 337: 0.273281990521327,
 644: 0.2727272727272727,
 1382: 0.2727272727272727,
 800: 0.2727272727272727,
 278: 0.27240896358543415,
 298: 0.2719298245614035,
 144: 0.27102803738317754,
 841: 0.27080581241743723,
 606: 0.26993865030674846,
 1016: 0.2692307692307692,
 245: 0.2631578947368421,
 1184: 0.2608695652173913,
 1280: 0.2602739726027397,
 333: 0.25757575757575757,
 162: 0.25747282608695654,
 127: 0.2558139534883721,
 174: 0.2553095752339813,
 651: 0.2552083333333333,
 184: 0.25435767071402565,
 728: 0.25352977286678946,
 653: 0.25019176681155714,
 1049: 0.25,
 1230: 0.25,
 726: 0.24963072378138848,
 247: 0.2487781036168133,
 846: 0.24786324786324787,
 743: 0.2459016393442623,
 1268: 0.24528301886792453,
 613: 0.24528301886792453,
 834: 0.24324324324324326,
 407: 0.2426731078904992,
 445: 0.24130105900151286,
 773: 0.24050632911392406,
 179: 0.24021792632849429,
 650: 0.2393829401088929,
 1014: 0.23557692307692307,
 1413: 0.23529411764705882,
 152: 0.23529411764705882,
 51: 0.23447690757728407,
 80: 0.23340683572216098,
 515: 0.23255813953488372,
 205: 0.23,
 225: 0.22839506172839505,
 46: 0.22834773043450127,
 1005: 0.22727272727272727,
 324: 0.22643507731412837,
 678: 0.22604422604422605,
 159: 0.2260385999345764,
 666: 0.2222222222222222,
 272: 0.2222222222222222,
 84: 0.22193877551020408,
 768: 0.21875,
 590: 0.21778350515463918,
 209: 0.21775446104994306,
 909: 0.21739130434782608,
 548: 0.21649484536082475,
 308: 0.2160392798690671,
 446: 0.2159090909090909,
 340: 0.21243370654095461,
 632: 0.20982142857142858,
 135: 0.20792207792207792,
 321: 0.20689655172413793,
 995: 0.2056451612903226,
 57: 0.2055800293685756,
 172: 0.20485327313769752,
 251: 0.2037037037037037,
 692: 0.20334728033472804,
 44: 0.20016234178017908,
 1336: 0.2,
 390: 0.19980787704130643,
 71: 0.1989157631359466,
 8: 0.19839423138155865,
 1387: 0.19736842105263158,
 1241: 0.1966019417475728,
 34: 0.1965675165998447,
 138: 0.19631901840490798,
 719: 0.19510367224581565,
 253: 0.19230769230769232,
 1158: 0.19047619047619047,
 1343: 0.1875,
 97: 0.1866629721991318,
 183: 0.18455991759185075,
 58: 0.18384598991262344,
 835: 0.18181818181818182,
 1367: 0.18181818181818182,
 1295: 0.18181818181818182,
 494: 0.18144329896907216,
 157: 0.17945205479452056,
 6: 0.17901789056067072,
 111: 0.1788702928870293,
 53: 0.1784720074234457,
 1244: 0.17647058823529413,
 1249: 0.17647058823529413,
 595: 0.17486338797814208,
 89: 0.17479191438763378,
 1481: 0.17391304347826086,
 181: 0.17289417214482783,
 114: 0.17288720248361503,
 601: 0.1701492537313433,
 563: 0.16981132075471697,
 1189: 0.1694915254237288,
 1064: 0.16806722689075632,
 536: 0.1676470588235294,
 199: 0.1670686567164179,
 1297: 0.16666666666666666,
 547: 0.16666666666666666,
 1254: 0.16666666666666666,
 1188: 0.16666666666666666,
 309: 0.16467065868263472,
 275: 0.16453382084095064,
 312: 0.164,
 182: 0.16341397118782278,
 496: 0.16182572614107885,
 115: 0.16176470588235295,
 178: 0.16103404791929382,
 438: 0.15890850722311398,
 141: 0.1586125111176994,
 313: 0.15722738799661876,
 1342: 0.15625,
 426: 0.15615615615615616,
 123: 0.1556406685236769,
 220: 0.15511163337250294,
 645: 0.1539509536784741,
 1050: 0.15384615384615385,
 977: 0.15384615384615385,
 96: 0.15235008103727715,
 1345: 0.15217391304347827,
 771: 0.15151515151515152,
 76: 0.15149051490514906,
 122: 0.15113871635610765,
 1068: 0.15073529411764705,
 92: 0.14991762767710048,
 970: 0.14965986394557823,
 687: 0.14845024469820556,
 175: 0.14812526730979422,
 200: 0.14719173660426083,
 99: 0.14679504088630968,
 936: 0.13333333333333333,
 1335: 0.13333333333333333,
 130: 0.13287605678736641,
 176: 0.1323404975461161,
 779: 0.1322314049586777,
 299: 0.13157894736842105,
 934: 0.13114754098360656,
 1252: 0.12643678160919541,
 88: 0.12608497030607582,
 1290: 0.125,
 1327: 0.125,
 882: 0.12446958981612447,
 605: 0.1243822075782537,
 765: 0.12280701754385964,
 86: 0.12188582281309351,
 422: 0.12115384615384615,
 195: 0.11938895417156287,
 104: 0.11912987040177543,
 77: 0.11912488223594682,
 14: 0.11894273127753303,
 341: 0.11761351486207142,
 107: 0.11698956780923994,
 93: 0.11604652444738438,
 12: 0.11500873729855672,
 423: 0.1147695202257761,
 843: 0.11290322580645161,
 932: 0.1125,
 87: 0.11238532110091744,
 149: 0.11147283340817243,
 338: 0.11066011535996582,
 259: 0.11033274956217162,
 912: 0.10852713178294573,
 257: 0.10792349726775956,
 132: 0.10490519373454246,
 143: 0.10456852791878173,
 387: 0.1039975954313195,
 105: 0.10346266166040885,
 439: 0.10343495299247511,
 345: 0.10342823939570017,
 618: 0.10230547550432277,
 95: 0.10222511870403128,
 1328: 0.1,
 758: 0.09949278189621537,
 61: 0.09929078014184398,
 188: 0.09735812133072407,
 82: 0.09616724738675958,
 807: 0.0945945945945946,
 136: 0.09361215487665414,
 845: 0.09333333333333334,
 45: 0.09192569544992453,
 5: 0.09133750321309228,
 738: 0.09090909090909091,
 1281: 0.09090909090909091,
 1191: 0.09090909090909091,
 630: 0.08960573476702509,
 629: 0.08783382789317508,
 485: 0.083373963920039,
 476: 0.08333333333333333,
 388: 0.08196721311475409,
 480: 0.08029197080291971,
 146: 0.07893422637407832,
 344: 0.0756717501815541,
 440: 0.072,
 1176: 0.07166123778501629,
 706: 0.07142857142857142,
 877: 0.07079646017699115,
 377: 0.06976744186046512,
 588: 0.06593406593406594,
 117: 0.06541648495420846,
 824: 0.0645933014354067,
 1224: 0.06363636363636363,
 358: 0.0625,
 332: 0.06060606060606061,
 300: 0.05970149253731343,
 727: 0.05652173913043478,
 108: 0.05299145299145299,
 972: 0.05263157894736842,
 421: 0.05174927113702624,
 399: 0.05060728744939271,
 490: 0.050505050505050504,
 293: 0.04825737265415549,
 185: 0.04816955684007707,
 1590: 0.047619047619047616,
 1381: 0.047058823529411764,
 1255: 0.045454545454545456,
 1259: 0.04195804195804196,
 73: 0.041666666666666664,
 287: 0.04,
 861: 0.03773584905660377,
 410: 0.03758949880668258,
 290: 0.033210332103321034,
 554: 0.03125,
 1264: 0.030303030303030304,
 931: 0.028169014084507043,
 1051: 0.022222222222222223,
 717: 0.017857142857142856,
 998: 0.005780346820809248,
 718: 0.0,
 1487: 0.0,
 756: 0.0,
 1610: 0.0,
 1611: 0.0,
 762: 0.0,
 783: 0.0,
 249: 0.0,
 1053: 0.0,
 1011: 0.0,
 467: 0.0,
 1362: 0.0,
 448: 0.0,
 1056: 0.0,
 1172: 0.0,
 1242: 0.0,
 1285: 0.0,
 1298: 0.0,
 1299: 0.0,
 1338: 0.0,
 1357: 0.0,
 1816: 0.0}

#### Сайт/бренд

In [282]:
orders_df.groupby(by=['site-id', 'brand-id']).agg(
    Count=('created-at', 'nunique'),
    Gender=('target', np.mean)
).query(f'Count >= {BORDER}').sort_values(by='Gender', ascending=False)

                   Count  Gender
site-id brand-id
148     1063.0        12     1.0
324     4670.0        10     1.0
187     6051.0        14     1.0
20      2031.0        29     1.0
151     30042.0       10     1.0
...                  ...     ...
63      15723.0       10     0.0
135     1903503.0     10     0.0
58      3423547.0     12     0.0
        3225131.0     10     0.0
        9799.0        10     0.0

[12714 rows x 2 columns]

In [283]:
orders_site_brand_count = orders_df.groupby(by=['site-id', 'brand-id']).agg(
    Count=('created-at', 'nunique'),
    Gender=('target', np.mean)
).query(f'Count >= {BORDER}').sort_values(by='Gender', ascending=False)['Gender'].to_dict()

In [284]:
orders_site_brand_count

{(148, 1063.0): 1.0,
 (324, 4670.0): 1.0,
 (187, 6051.0): 1.0,
 (20, 2031.0): 1.0,
 (151, 30042.0): 1.0,
 (20, 125035.0): 1.0,
 (29, 2400.0): 1.0,
 (20, 3345.0): 1.0,
 (54, 33050.0): 1.0,
 (29, 1546.0): 1.0,
 (198, 58908.0): 1.0,
 (20, 18049.0): 1.0,
 (20, 1618.0): 1.0,
 (20, 1955195.0): 1.0,
 (40, 1901582.0): 1.0,
 (20, 2085.0): 1.0,
 (25, 1657.0): 1.0,
 (198, 3528.0): 1.0,
 (20, 23188.0): 1.0,
 (288, 119161.0): 1.0,
 (20, 6307.0): 1.0,
 (20, 6385.0): 1.0,
 (20, 34328.0): 1.0,
 (20, 29348.0): 1.0,
 (20, 26292.0): 1.0,
 (198, 14550.0): 1.0,
 (151, 5887.0): 1.0,
 (348, 3717.0): 1.0,
 (41, 2924.0): 1.0,
 (25, 6409.0): 1.0,
 (198, 2026.0): 1.0,
 (8, 22876.0): 1.0,
 (151, 5903.0): 1.0,
 (153, 10618.0): 1.0,
 (20, 29489.0): 1.0,
 (160, 1087.0): 1.0,
 (830, 1277.0): 1.0,
 (139, 1898383.0): 0.967741935483871,
 (20, 17808.0): 0.9629629629629629,
 (1167, 1864.0): 0.9615384615384616,
 (20, 40346.0): 0.9583333333333334,
 (20, 1166.0): 0.9583333333333334,
 (20, 1627.0): 0.9583333333333334,
 (112, 4636.0): 0.9565217391304348,
 (20, 1193847.0): 0.9565217391304348,
 (20, 12190.0): 0.9565217391304348,
 (198, 32535.0): 0.9523809523809523,
 (151, 1034.0): 0.9523809523809523,
 (41, 921.0): 0.95,
 (179, 15519.0): 0.95,
 (151, 6376.0): 0.9473684210526315,
 (20, 1560910.0): 0.9473684210526315,
 (20, 9823.0): 0.9444444444444444,
 (29, 2739.0): 0.9444444444444444,
 (20, 1958993.0): 0.9444444444444444,
 (20, 12377.0): 0.9428571428571428,
 (112, 7156.0): 0.9411764705882353,
 (20, 1002.0): 0.9411764705882353,
 (348, 3610.0): 0.9411764705882353,
 (40, 2427.0): 0.9411764705882353,
 (20, 14677.0): 0.9411764705882353,
 (16, 2917.0): 0.9411764705882353,
 (112, 33111.0): 0.9411764705882353,
 (20, 6409.0): 0.9411764705882353,
 (151, 1033.0): 0.9393939393939394,
 (25, 2408.0): 0.9375,
 (830, 1073.0): 0.9375,
 (20, 25945.0): 0.9375,
 (20, 1889891.0): 0.9375,
 (151, 1002.0): 0.9375,
 (151, 4788.0): 0.9375,
 (179, 3321.0): 0.9375,
 (20, 1484.0): 0.9354838709677419,
 (151, 31183.0): 0.9354838709677419,
 (20, 26515.0): 0.9333333333333333,
 (198, 3740.0): 0.9333333333333333,
 (179, 3469.0): 0.9333333333333333,
 (29, 3554.0): 0.9333333333333333,
 (324, 605.0): 0.9295774647887324,
 (20, 1544.0): 0.9285714285714286,
 (20, 15519.0): 0.9285714285714286,
 (198, 58973.0): 0.9285714285714286,
 (167, 30323.0): 0.9285714285714286,
 (20, 1209571.0): 0.9285714285714286,
 (20, 1971.0): 0.9285714285714286,
 (20, 1194059.0): 0.9285714285714286,
 (20, 2913.0): 0.9285714285714286,
 (20, 16478.0): 0.9285714285714286,
 (148, 1.0): 0.9259259259259259,
 (151, 4235.0): 0.9259259259259259,
 (25, 114502.0): 0.9230769230769231,
 (20, 1050.0): 0.9230769230769231,
 (153, 6191.0): 0.9230769230769231,
 (198, 35988.0): 0.9230769230769231,
 (20, 24585.0): 0.9230769230769231,
 (198, 2390.0): 0.9230769230769231,
 (348, 1045.0): 0.9230769230769231,
 (20, 124064.0): 0.9230769230769231,
 (20, 6369.0): 0.9230769230769231,
 (198, 40396.0): 0.9230769230769231,
 (20, 3164955.0): 0.9230769230769231,
 (148, 1215.0): 0.9230769230769231,
 (20, 4577.0): 0.9230769230769231,
 (151, 2773.0): 0.9230769230769231,
 (151, 40346.0): 0.9230769230769231,
 (148, 1556.0): 0.9230769230769231,
 (20, 1013.0): 0.9230769230769231,
 (153, 1555825.0): 0.9230769230769231,
 (151, 2843.0): 0.9230769230769231,
 (20, 125556.0): 0.92,
 (151, 10323.0): 0.92,
 (29, 3717.0): 0.918918918918919,
 (20, 22896.0): 0.9166666666666666,
 (20, 13261.0): 0.9166666666666666,
 (20, 10440.0): 0.9166666666666666,
 (21, 16658.0): 0.9166666666666666,
 (151, 5891.0): 0.9166666666666666,
 (16, 4577.0): 0.9166666666666666,
 (20, 2140.0): 0.9166666666666666,
 (16, 3579.0): 0.9166666666666666,
 (80, 7184.0): 0.9166666666666666,
 (151, 1766.0): 0.9166666666666666,
 (20, 16759.0): 0.9166666666666666,
 (317, 40770.0): 0.9166666666666666,
 (20, 9770.0): 0.9166666666666666,
 (20, 2328.0): 0.9166666666666666,
 (151, 3138.0): 0.9166666666666666,
 (148, 1555.0): 0.9166666666666666,
 (29, 3026.0): 0.9166666666666666,
 (147, 1495.0): 0.9166666666666666,
 (20, 1918.0): 0.9142857142857143,
 (160, 2457.0): 0.9130434782608695,
 (20, 6682.0): 0.9117647058823529,
 (147, 1901893.0): 0.9117647058823529,
 (151, 6257.0): 0.9111111111111111,
 (151, 964.0): 0.9104477611940298,
 (20, 62924.0): 0.9090909090909091,
 (20, 62705.0): 0.9090909090909091,
 (44, 558.0): 0.9090909090909091,
 (112, 32296.0): 0.9090909090909091,
 (50, 52002.0): 0.9090909090909091,
 (20, 999.0): 0.9090909090909091,
 (20, 111123.0): 0.9090909090909091,
 (153, 1211256.0): 0.9090909090909091,
 (20, 1907964.0): 0.9090909090909091,
 (20, 15604.0): 0.9090909090909091,
 (20, 122123.0): 0.9090909090909091,
 (20, 1211265.0): 0.908256880733945,
 (151, 993.0): 0.9080459770114943,
 (20, 24332.0): 0.90625,
 (20, 3426.0): 0.90625,
 (599, 1621.0): 0.9056603773584906,
 (40, 1222.0): 0.9047619047619048,
 (153, 53397.0): 0.9047619047619048,
 (151, 6369.0): 0.9047619047619048,
 (112, 26189.0): 0.9047619047619048,
 (112, 29713.0): 0.9019607843137255,
 (20, 1899739.0): 0.9,
 (20, 62479.0): 0.9,
 (348, 13327.0): 0.9,
 (25, 1654.0): 0.9,
 (20, 6294.0): 0.9,
 (20, 14886.0): 0.9,
 (148, 1937.0): 0.9,
 (20, 1330.0): 0.9,
 (20, 1014.0): 0.9,
 (25, 1298.0): 0.9,
 (20, 32953.0): 0.9,
 (151, 10932.0): 0.9,
 (25, 1016.0): 0.9,
 (179, 6077.0): 0.9,
 (153, 27469.0): 0.9,
 (20, 6462.0): 0.9,
 (20, 1740.0): 0.9,
 (40, 2447.0): 0.9,
 (40, 1211265.0): 0.9,
 (177, 1891.0): 0.8974358974358975,
 (54, 3346.0): 0.896551724137931,
 (20, 1505.0): 0.8928571428571429,
 (20, 1889.0): 0.8928571428571429,
 (198, 1363.0): 0.8924731182795699,
 (20, 1375.0): 0.8923076923076924,
 (151, 5893.0): 0.8918918918918919,
 (20, 2946.0): 0.8918918918918919,
 (20, 125839.0): 0.8888888888888888,
 (153, 57306.0): 0.8888888888888888,
 (20, 2150.0): 0.8888888888888888,
 (151, 16101.0): 0.8888888888888888,
 (151, 6422.0): 0.8888888888888888,
 (20, 1645.0): 0.8888888888888888,
 (20, 1449.0): 0.8888888888888888,
 (179, 26018.0): 0.8888888888888888,
 (20, 2080.0): 0.8888888888888888,
 (184, 4609.0): 0.8888888888888888,
 (179, 7313.0): 0.8888888888888888,
 (151, 10418.0): 0.8888888888888888,
 (153, 1501.0): 0.8888888888888888,
 (20, 3097497.0): 0.8888888888888888,
 (151, 3343.0): 0.8846153846153846,
 (151, 6381.0): 0.8846153846153846,
 (112, 30274.0): 0.8823529411764706,
 (63, 3676318.0): 0.8823529411764706,
 (29, 3537853.0): 0.8823529411764706,
 (29, 1460.0): 0.8823529411764706,
 (20, 16663.0): 0.8823529411764706,
 (148, 2645.0): 0.8809523809523809,
 (206, 9787.0): 0.88,
 (151, 15585.0): 0.88,
 (29, 1342.0): 0.8787878787878788,
 (16, 1795.0): 0.8787878787878788,
 (20, 2534.0): 0.8780487804878049,
 (151, 5877.0): 0.8760330578512396,
 (40, 1546.0): 0.875,
 (112, 1621.0): 0.875,
 (151, 1946.0): 0.875,
 (148, 2036.0): 0.875,
 (20, 2361.0): 0.875,
 (348, 2086.0): 0.875,
 (151, 10924.0): 0.875,
 (179, 6056.0): 0.875,
 (20, 14956.0): 0.875,
 (151, 107443.0): 0.875,
 (147, 2587.0): 0.875,
 (20, 2843.0): 0.875,
 (20, 2497.0): 0.875,
 (20, 7161.0): 0.875,
 (151, 1222.0): 0.875,
 (151, 6375.0): 0.8727272727272727,
 (151, 6338.0): 0.8723404255319149,
 (151, 2537.0): 0.8723404255319149,
 (25, 25056.0): 0.8709677419354839,
 (20, 3893.0): 0.8709677419354839,
 (20, 5911.0): 0.8709677419354839,
 (20, 3307.0): 0.8695652173913043,
 (20, 16837.0): 0.8695652173913043,
 (20, 2246.0): 0.8695652173913043,
 (151, 10405.0): 0.8695652173913043,
 (20, 10924.0): 0.8695652173913043,
 (20, 1068.0): 0.868421052631579,
 (20, 1990.0): 0.8666666666666667,
 (29, 3533.0): 0.8666666666666667,
 (199, 30538.0): 0.8666666666666667,
 (20, 1289.0): 0.8666666666666667,
 (20, 1860688.0): 0.8666666666666667,
 (535, 41957.0): 0.8666666666666667,
 (151, 3324.0): 0.8666666666666667,
 (112, 6355.0): 0.8666666666666667,
 (151, 13454.0): 0.8666666666666667,
 (21, 15805.0): 0.8666666666666667,
 (151, 10923.0): 0.8653846153846154,
 (20, 31890.0): 0.8636363636363636,
 (20, 12052.0): 0.8625954198473282,
 (29, 1614.0): 0.8620689655172413,
 (21, 16073.0): 0.8620689655172413,
 (20, 1211.0): 0.8615384615384616,
 (20, 2455.0): 0.8614457831325302,
 (20, 1020.0): 0.8611111111111112,
 (50, 29796.0): 0.8611111111111112,
 (20, 4780.0): 0.8604651162790697,
 (151, 3405.0): 0.86,
 (20, 2068.0): 0.8584070796460177,
 (20, 4310.0): 0.8571428571428571,
 (20, 11896.0): 0.8571428571428571,
 (16, 23982.0): 0.8571428571428571,
 (153, 1723.0): 0.8571428571428571,
 (153, 34406.0): 0.8571428571428571,
 (179, 7477.0): 0.8571428571428571,
 (20, 1046.0): 0.8571428571428571,
 (25, 13445.0): 0.8571428571428571,
 (20, 13630.0): 0.8571428571428571,
 (151, 1621.0): 0.8571428571428571,
 (20, 23562.0): 0.8571428571428571,
 (29, 23924.0): 0.8571428571428571,
 (20, 1988.0): 0.8571428571428571,
 (20, 12442.0): 0.8571428571428571,
 (40, 1058.0): 0.8571428571428571,
 (29, 18368.0): 0.8571428571428571,
 (20, 1898437.0): 0.8571428571428571,
 (20, 1109.0): 0.8571428571428571,
 (20, 1073.0): 0.8560606060606061,
 (151, 2213.0): 0.8555555555555555,
 (151, 6334.0): 0.8548387096774194,
 (20, 1298.0): 0.8547008547008547,
 (20, 3405.0): 0.8536585365853658,
 (20, 1215.0): 0.8529411764705882,
 (112, 3116.0): 0.8529411764705882,
 (20, 4727.0): 0.8529411764705882,
 (20, 1495.0): 0.8518518518518519,
 (20, 10626.0): 0.8518518518518519,
 (97, 4692.0): 0.8518518518518519,
 (20, 12134.0): 0.8518518518518519,
 (151, 25887.0): 0.85,
 (153, 27357.0): 0.85,
 (147, 1470.0): 0.85,
 (29, 109710.0): 0.85,
 (151, 1546.0): 0.85,
 (151, 3307.0): 0.849624060150376,
 (20, 1460.0): 0.8484848484848485,
 (151, 4636.0): 0.8484848484848485,
 (40, 1935.0): 0.8478260869565217,
 (16, 1868.0): 0.8461538461538461,
 (20, 116578.0): 0.8461538461538461,
 (20, 1007.0): 0.8461538461538461,
 (20, 2317.0): 0.8461538461538461,
 (20, 123546.0): 0.8461538461538461,
 (25, 2420.0): 0.8461538461538461,
 (179, 6119.0): 0.8461538461538461,
 (148, 1277.0): 0.8461538461538461,
 (158, 35167.0): 0.8461538461538461,
 (112, 31464.0): 0.8461538461538461,
 (40, 1211.0): 0.8461538461538461,
 (50, 52575.0): 0.8461538461538461,
 (151, 25895.0): 0.8461538461538461,
 (167, 37995.0): 0.8461538461538461,
 (20, 1471.0): 0.8461538461538461,
 (20, 2786.0): 0.8461538461538461,
 (147, 1364.0): 0.8461538461538461,
 (20, 1901616.0): 0.8461538461538461,
 (179, 3113.0): 0.8461538461538461,
 (29, 1936489.0): 0.8461538461538461,
 (54, 976.0): 0.8461538461538461,
 (20, 109710.0): 0.8442622950819673,
 (20, 1457.0): 0.8441558441558441,
 (20, 1811.0): 0.84375,
 (20, 1555.0): 0.8431372549019608,
 (20, 1211501.0): 0.8421052631578947,
 (151, 3303.0): 0.8421052631578947,
 (20, 1195294.0): 0.8421052631578947,
 (179, 9961.0): 0.8421052631578947,
 (16, 14571.0): 0.8421052631578947,
 (29, 3541.0): 0.8421052631578947,
 (50, 37323.0): 0.8421052631578947,
 (20, 2432.0): 0.8421052631578947,
 (337, 142124.0): 0.84,
 (20, 1016.0): 0.8395522388059702,
 (20, 25033.0): 0.8387096774193549,
 (153, 2307.0): 0.8387096774193549,
 (288, 921.0): 0.8378378378378378,
 (29, 2141.0): 0.8372093023255814,
 (20, 1388.0): 0.8372093023255814,
 (20, 1673.0): 0.8360655737704918,
 (20, 2427.0): 0.8347107438016529,
 (40, 1449.0): 0.8333333333333334,
 (16, 4539.0): 0.8333333333333334,
 (151, 3302.0): 0.8333333333333334,
 (206, 2571.0): 0.8333333333333334,
 (20, 6402.0): 0.8333333333333334,
 (25, 694.0): 0.8333333333333334,
 (288, 3729.0): 0.8333333333333334,
 (20, 1893821.0): 0.8333333333333334,
 (151, 24989.0): 0.8333333333333334,
 (20, 1470.0): 0.8333333333333334,
 (148, 1372.0): 0.8333333333333334,
 (151, 10402.0): 0.8333333333333334,
 (20, 2519.0): 0.8333333333333334,
 (20, 3420816.0): 0.8333333333333334,
 (20, 532910.0): 0.8333333333333334,
 (29, 6232.0): 0.8333333333333334,
 (184, 4522.0): 0.8333333333333334,
 (20, 1798.0): 0.8333333333333334,
 (16, 3545.0): 0.8333333333333334,
 (20, 29347.0): 0.8333333333333334,
 (20, 4631.0): 0.8333333333333334,
 (151, 2946.0): 0.8333333333333334,
 (20, 1090.0): 0.8333333333333334,
 (179, 25270.0): 0.8333333333333334,
 (151, 7164.0): 0.8333333333333334,
 (20, 1920047.0): 0.8333333333333334,
 (20, 1920120.0): 0.8333333333333334,
 (29, 4770.0): 0.8333333333333334,
 (20, 1080.0): 0.8333333333333334,
 (20, 3130.0): 0.8333333333333334,
 (40, 2407.0): 0.8333333333333334,
 (20, 14938.0): 0.8333333333333334,
 (20, 17932.0): 0.8333333333333334,
 (20, 964.0): 0.8333333333333334,
 (160, 1358.0): 0.8333333333333334,
 (151, 13883.0): 0.8333333333333334,
 (20, 1277.0): 0.8311688311688312,
 (20, 119161.0): 0.8292682926829268,
 (29, 1211.0): 0.8285714285714286,
 (84, 13782.0): 0.8285714285714286,
 (179, 6082.0): 0.8275862068965517,
 (20, 1773.0): 0.8275862068965517,
 (20, 24668.0): 0.8275862068965517,
 (20, 789.0): 0.8275862068965517,
 (20, 120397.0): 0.8275862068965517,
 (153, 1925.0): 0.8269230769230769,
 (20, 3950.0): 0.8260869565217391,
 (40, 2586.0): 0.8260869565217391,
 (20, 6407.0): 0.8260869565217391,
 (153, 58404.0): 0.8260869565217391,
 (151, 3130.0): 0.8260869565217391,
 (20, 12565.0): 0.8260869565217391,
 (153, 1221.0): 0.8260869565217391,
 (29, 2913.0): 0.8245614035087719,
 (20, 3604.0): 0.8235294117647058,
 (20, 6285.0): 0.8235294117647058,
 (20, 954384.0): 0.8235294117647058,
 (151, 25890.0): 0.8235294117647058,
 (16, 3590.0): 0.8235294117647058,
 (20, 3149.0): 0.8235294117647058,
 (153, 3892.0): 0.8222222222222222,
 (20, 7156.0): 0.82,
 (151, 728.0): 0.82,
 (151, 986.0): 0.82,
 (20, 3610.0): 0.819672131147541,
 (20, 914.0): 0.8181818181818182,
 (184, 50555.0): 0.8181818181818182,
 (20, 30488.0): 0.8181818181818182,
 (20, 1501.0): 0.8181818181818182,
 (153, 7156.0): 0.8181818181818182,
 (20, 1948018.0): 0.8181818181818182,
 (20, 7074.0): 0.8181818181818182,
 (50, 25755.0): 0.8181818181818182,
 (21, 50938.0): 0.8181818181818182,
 (29, 24889.0): 0.8181818181818182,
 (153, 1746.0): 0.8181818181818182,
 (16, 1102.0): 0.8181818181818182,
 (160, 986.0): 0.8181818181818182,
 (20, 4712.0): 0.8181818181818182,
 (20, 949.0): 0.8181818181818182,
 (389, 1544.0): 0.8181818181818182,
 (29, 23998.0): 0.8181818181818182,
 (151, 14728.0): 0.8181818181818182,
 (20, 1940837.0): 0.8181818181818182,
 (139, 1888618.0): 0.8181818181818182,
 (40, 2068.0): 0.8181818181818182,
 (22, 30551.0): 0.8181818181818182,
 (54, 125874.0): 0.8181818181818182,
 (20, 61633.0): 0.8181818181818182,
 (8, 23121.0): 0.8181818181818182,
 (151, 2083.0): 0.8181818181818182,
 (153, 3884.0): 0.8181818181818182,
 (20, 2307.0): 0.8181818181818182,
 (198, 35833.0): 0.8181818181818182,
 (20, 112151.0): 0.8181818181818182,
 (20, 3025.0): 0.8181818181818182,
 (20, 2362.0): 0.8181818181818182,
 (20, 1909200.0): 0.8181818181818182,
 (151, 1999.0): 0.8181818181818182,
 (25, 2068.0): 0.8181818181818182,
 (16, 24895.0): 0.8181818181818182,
 (20, 2305.0): 0.8181818181818182,
 (151, 6525.0): 0.8181818181818182,
 (153, 342108.0): 0.8181818181818182,
 (151, 844.0): 0.8181818181818182,
 (34, 33581.0): 0.8181818181818182,
 (20, 18985.0): 0.8181818181818182,
 (25, 1963.0): 0.8181818181818182,
 (151, 2455.0): 0.8178053830227743,
 (160, 3754.0): 0.8169014084507042,
 (151, 943.0): 0.8163265306122449,
 (29, 24892.0): 0.8157894736842105,
 (20, 3044.0): 0.8157894736842105,
 (20, 1764.0): 0.8148148148148148,
 (151, 6307.0): 0.8148148148148148,
 (151, 3304.0): 0.8142216527866752,
 (20, 2213.0): 0.813953488372093,
 (153, 1943090.0): 0.8133333333333334,
 (20, 1602.0): 0.8130081300813008,
 (153, 32734.0): 0.8125,
 (20, 1894973.0): 0.8125,
 (153, 31890.0): 0.8125,
 (20, 3303.0): 0.8125,
 (20, 1100.0): 0.8125,
 (112, 31456.0): 0.8125,
 (41, 1905723.0): 0.8125,
 (147, 1073.0): 0.8125,
 (112, 30762.0): 0.8125,
 (179, 10342.0): 0.8125,
 (29, 25773.0): 0.8125,
 (20, 3465569.0): 0.8125,
 (153, 6246.0): 0.8125,
 (20, 1407.0): 0.8125,
 (20, 129006.0): 0.8125,
 (20, 3346.0): 0.8108108108108109,
 (20, 15909.0): 0.8103448275862069,
 (20, 658.0): 0.8095238095238095,
 (112, 24433.0): 0.8095238095238095,
 (20, 1973.0): 0.8095238095238095,
 (20, 30490.0): 0.8095238095238095,
 (20, 5892.0): 0.8095238095238095,
 (21, 50694.0): 0.8095238095238095,
 (20, 1891069.0): 0.8095238095238095,
 (29, 6312.0): 0.8095238095238095,
 (20, 2239.0): 0.8095238095238095,
 (179, 26062.0): 0.8095238095238095,
 (20, 1861.0): 0.8089887640449438,
 (20, 2743.0): 0.8082191780821918,
 (153, 3893.0): 0.8080808080808081,
 (147, 2239.0): 0.8076923076923077,
 (54, 57742.0): 0.8076923076923077,
 (148, 1016.0): 0.8064516129032258,
 (16, 1938.0): 0.8055555555555556,
 (129, 13716.0): 0.8048780487804879,
 (20, 1621.0): 0.8043478260869565,
 (20, 1557.0): 0.8040540540540541,
 (153, 1943068.0): 0.803921568627451,
 (20, 3228.0): 0.8035714285714286,
 (153, 10445.0): 0.803030303030303,
 (25, 2031.0): 0.8,
 (20, 7167.0): 0.8,
 (20, 6360.0): 0.8,
 (20, 1748.0): 0.8,
 (147, 2924.0): 0.8,
 (198, 2382.0): 0.8,
 (20, 124402.0): 0.8,
 (20, 1939164.0): 0.8,
 (21, 39354.0): 0.8,
 (160, 2282.0): 0.8,
 (20, 1896674.0): 0.8,
 (151, 16788.0): 0.8,
 (20, 13793.0): 0.8,
 (348, 1887.0): 0.8,
 (29, 10659.0): 0.8,
 (20, 2670.0): 0.8,
 (160, 2454.0): 0.8,
 (29, 12149.0): 0.8,
 (151, 5837.0): 0.8,
 (389, 1470.0): 0.8,
 (20, 6971.0): 0.8,
 (179, 18167.0): 0.8,
 (25, 2579.0): 0.8,
 (112, 25345.0): 0.8,
 (16, 2077.0): 0.8,
 (21, 16457.0): 0.8,
 (148, 6387.0): 0.8,
 (148, 3942.0): 0.8,
 (166, 1890091.0): 0.8,
 (160, 1546.0): 0.8,
 (198, 1045.0): 0.8,
 (29, 33000.0): 0.8,
 (20, 17653.0): 0.8,
 (40, 1936.0): 0.8,
 (20, 6016.0): 0.8,
 (184, 1419.0): 0.8,
 (151, 27079.0): 0.8,
 (29, 3519.0): 0.8,
 (206, 1953.0): 0.8,
 (20, 1949748.0): 0.8,
 (160, 1048.0): 0.8,
 (198, 1364.0): 0.8,
 (151, 7167.0): 0.8,
 (20, 1373.0): 0.8,
 (20, 42569.0): 0.8,
 (20, 2457.0): 0.7954545454545454,
 (151, 3228.0): 0.795,
 (153, 83015.0): 0.7948717948717948,
 (29, 19552.0): 0.7948717948717948,
 (16, 1044.0): 0.7931034482758621,
 (29, 2427.0): 0.7926829268292683,
 (20, 16495.0): 0.7916666666666666,
 (20, 18801.0): 0.7916666666666666,
 (20, 4788.0): 0.7916666666666666,
 (153, 7048.0): 0.7894736842105263,
 (20, 825.0): 0.7894736842105263,
 (20, 125089.0): 0.7894736842105263,
 (20, 1918265.0): 0.7894736842105263,
 (80, 9783.0): 0.7894736842105263,
 (20, 1491820.0): 0.7894736842105263,
 (29, 25039.0): 0.7894736842105263,
 (112, 976.0): 0.7894736842105263,
 (151, 2433.0): 0.7894736842105263,
 (29, 1473.0): 0.7894736842105263,
 (20, 609.0): 0.7894736842105263,
 (20, 1763.0): 0.7894736842105263,
 (20, 6163.0): 0.7894736842105263,
 (20, 1556.0): 0.7894736842105263,
 (198, 1841.0): 0.7878787878787878,
 (20, 23290.0): 0.7878787878787878,
 (29, 1758.0): 0.7878787878787878,
 (153, 1943126.0): 0.7878787878787878,
 (20, 3892.0): 0.7857142857142857,
 (16, 4783.0): 0.7857142857142857,
 (20, 955.0): 0.7857142857142857,
 (179, 2578.0): 0.7857142857142857,
 (41, 3100.0): 0.7857142857142857,
 (29, 84125.0): 0.7857142857142857,
 (29, 2515.0): 0.7857142857142857,
 (20, 1918550.0): 0.7857142857142857,
 (20, 23576.0): 0.7857142857142857,
 (20, 25996.0): 0.7857142857142857,
 (153, 42294.0): 0.7857142857142857,
 (29, 958437.0): 0.7857142857142857,
 (54, 1.0): 0.7857142857142857,
 (20, 2271.0): 0.7857142857142857,
 (151, 2569.0): 0.7857142857142857,
 (151, 3346.0): 0.7857142857142857,
 (20, 1444.0): 0.7851239669421488,
 (324, 745.0): 0.7833333333333333,
 (20, 896.0): 0.7828571428571428,
 (21, 23760.0): 0.782608695652174,
 (112, 13422.0): 0.782608695652174,
 (20, 6387.0): 0.782608695652174,
 (20, 1960482.0): 0.782608695652174,
 (20, 3123.0): 0.782608695652174,
 (29, 3590.0): 0.78125,
 (20, 1805.0): 0.78125,
 (20, 10659.0): 0.78125,
 (20, 7013.0): 0.78125,
 (20, 986.0): 0.7810650887573964,
 (151, 2602.0): 0.7804878048780488,
 (348, 1090.0): 0.7804878048780488,
 (209, 4310.0): 0.7789473684210526,
 (153, 1737.0): 0.7783251231527094,
 (20, 1914899.0): 0.7777777777777778,
 (16, 10659.0): 0.7777777777777778,
 (20, 2412.0): 0.7777777777777778,
 (20, 5817.0): 0.7777777777777778,
 (29, 1795.0): 0.7777777777777778,
 (20, 1087.0): 0.7777777777777778,
 (20, 129287.0): 0.7777777777777778,
 (21, 1657.0): 0.7777777777777778,
 (20, 9898.0): 0.7777777777777778,
 (29, 1938.0): 0.7777777777777778,
 (153, 14158.0): 0.7758620689655172,
 (20, 4587.0): 0.775,
 (29, 3503.0): 0.775,
 (151, 5878.0): 0.7743589743589744,
 (153, 1880.0): 0.7741935483870968,

#### Сайт/товар

In [285]:
orders_df.groupby(by=['site-id', 'item-id']).agg(
    Count=('created-at', 'nunique'),
    Gender=('target', np.mean)
).query(f'Count >= {BORDER}').sort_values(by='Gender', ascending=False)

                      Count  Gender
site-id item-id
62      item_188149      12     1.0
16      item_394856      10     1.0
62      item_2112574     14     1.0
21      item_725308      11     1.0
29      item_1083407     11     1.0
...                     ...     ...
220     item_371273      11     0.0
        item_373481      14     0.0
        item_374141      11     0.0
84      item_266813      11     0.0
93      item_151083      10     0.0

[28597 rows x 2 columns]

In [286]:
orders_site_item_count = orders_df.groupby(by=['site-id', 'item-id']).agg(
    Count=('created-at', 'nunique'),
    Gender=('target', np.mean)
).query(f'Count >= {BORDER}').sort_values(by='Gender', ascending=False)['Gender'].to_dict()

In [287]:
orders_site_item_count

{(62, 'item_188149'): 1.0,
 (16, 'item_394856'): 1.0,
 (62, 'item_2112574'): 1.0,
 (21, 'item_725308'): 1.0,
 (29, 'item_1083407'): 1.0,
 (97, 'item_121554'): 1.0,
 (62, 'item_2129365'): 1.0,
 (63, 'item_2480808'): 1.0,
 (11, 'item_1206969'): 1.0,
 (20, 'item_232790'): 1.0,
 (16, 'item_254460'): 1.0,
 (29, 'item_1025317'): 1.0,
 (147, 'item_695504'): 1.0,
 (49, 'item_171090'): 1.0,
 (20, 'item_229007'): 1.0,
 (62, 'item_4681413'): 1.0,
 (62, 'item_81903'): 1.0,
 (441, 'item_469021'): 1.0,
 (63, 'item_2479253'): 1.0,
 (16, 'item_424618'): 1.0,
 (488, 'item_23223'): 1.0,
 (488, 'item_529878'): 1.0,
 (119, 'item_913939'): 1.0,
 (48, 'item_157508'): 1.0,
 (20, 'item_56344'): 1.0,
 (16, 'item_7559'): 1.0,
 (507, 'item_1369210'): 1.0,
 (20, 'item_35915'): 1.0,
 (46, 'item_156266'): 1.0,
 (175, 'item_193576'): 1.0,
 (351, 'item_3969762'): 1.0,
 (351, 'item_2944261'): 1.0,
 (62, 'item_2109978'): 1.0,
 (348, 'item_145241'): 1.0,
 (79, 'item_572695'): 1.0,
 (20, 'item_871245'): 1.0,
 (20, 'item_82708'): 1.0,
 (16, 'item_496572'): 1.0,
 (11, 'item_475030'): 1.0,
 (20, 'item_111877'): 1.0,
 (151, 'item_352326'): 1.0,
 (50, 'item_2433363'): 1.0,
 (193, 'item_125646'): 1.0,
 (193, 'item_470153'): 1.0,
 (29, 'item_154874'): 1.0,
 (20, 'item_74153'): 1.0,
 (20, 'item_723905'): 1.0,
 (63, 'item_363682'): 1.0,
 (16, 'item_295942'): 1.0,
 (62, 'item_1579555'): 1.0,
 (20, 'item_67640'): 1.0,
 (323, 'item_275339'): 1.0,
 (324, 'item_98324'): 1.0,
 (324, 'item_991462'): 1.0,
 (337, 'item_1009736'): 1.0,
 (29, 'item_741341'): 1.0,
 (153, 'item_59008'): 1.0,
 (63, 'item_2811124'): 1.0,
 (346, 'item_1294324'): 1.0,
 (346, 'item_1610296'): 1.0,
 (346, 'item_174358'): 1.0,
 (40, 'item_199046'): 1.0,
 (11, 'item_390714'): 1.0,
 (184, 'item_536541'): 1.0,
 (29, 'item_150879'): 1.0,
 (40, 'item_366761'): 1.0,
 (110, 'item_307448'): 1.0,
 (699, 'item_971788'): 1.0,
 (40, 'item_27049'): 1.0,
 (23, 'item_16876'): 1.0,
 (16, 'item_120191'): 1.0,
 (112, 'item_302545'): 1.0,
 (1472, 'item_927817'): 1.0,
 (116, 'item_223735'): 1.0,
 (20, 'item_119134'): 1.0,
 (20, 'item_213125'): 0.9722222222222222,
 (29, 'item_164266'): 0.967741935483871,
 (151, 'item_337185'): 0.96,
 (552, 'item_611063'): 0.9565217391304348,
 (29, 'item_121198'): 0.9545454545454546,
 (62, 'item_267869'): 0.95,
 (151, 'item_458866'): 0.95,
 (147, 'item_142958'): 0.95,
 (147, 'item_419409'): 0.95,
 (29, 'item_24209'): 0.9473684210526315,
 (16, 'item_57505'): 0.9473684210526315,
 (46, 'item_203220'): 0.9444444444444444,
 (62, 'item_508380'): 0.9428571428571428,
 (80, 'item_725210'): 0.9411764705882353,
 (184, 'item_28727'): 0.9411764705882353,
 (20, 'item_581243'): 0.9411764705882353,
 (488, 'item_22293'): 0.9411764705882353,
 (16, 'item_215376'): 0.9411764705882353,
 (29, 'item_656754'): 0.9375,
 (20, 'item_5019'): 0.9375,
 (20, 'item_586357'): 0.9375,
 (147, 'item_20506'): 0.9333333333333333,
 (50, 'item_219207'): 0.9333333333333333,
 (40, 'item_274891'): 0.9333333333333333,
 (29, 'item_841806'): 0.9333333333333333,
 (346, 'item_36290'): 0.9333333333333333,
 (488, 'item_153524'): 0.9310344827586207,
 (151, 'item_202701'): 0.9285714285714286,
 (97, 'item_1016663'): 0.9285714285714286,
 (151, 'item_118939'): 0.9285714285714286,
 (20, 'item_72194'): 0.9285714285714286,
 (147, 'item_6080'): 0.9285714285714286,
 (186, 'item_185721'): 0.9285714285714286,
 (40, 'item_573636'): 0.9285714285714286,
 (20, 'item_552430'): 0.9285714285714286,
 (29, 'item_628030'): 0.9230769230769231,
 (40, 'item_949506'): 0.9230769230769231,
 (20, 'item_459936'): 0.9230769230769231,
 (20, 'item_101438'): 0.9230769230769231,
 (20, 'item_587499'): 0.9230769230769231,
 (16, 'item_48432'): 0.9230769230769231,
 (11, 'item_1140155'): 0.9230769230769231,
 (164, 'item_143084'): 0.9230769230769231,
 (29, 'item_88983'): 0.9230769230769231,
 (29, 'item_73066'): 0.9230769230769231,
 (186, 'item_122880'): 0.9230769230769231,
 (20, 'item_137971'): 0.9230769230769231,
 (120, 'item_297782'): 0.9230769230769231,
 (62, 'item_931024'): 0.9230769230769231,
 (119, 'item_280887'): 0.92,
 (62, 'item_92465'): 0.92,
 (29, 'item_489796'): 0.9166666666666666,
 (20, 'item_75621'): 0.9166666666666666,
 (184, 'item_794273'): 0.9166666666666666,
 (49, 'item_464861'): 0.9166666666666666,
 (11, 'item_76487'): 0.9166666666666666,
 (147, 'item_58927'): 0.9166666666666666,
 (147, 'item_72029'): 0.9166666666666666,
 (11, 'item_24353'): 0.9166666666666666,
 (151, 'item_660579'): 0.9166666666666666,
 (20, 'item_184640'): 0.9166666666666666,
 (21, 'item_454344'): 0.9166666666666666,
 (147, 'item_621131'): 0.9166666666666666,
 (20, 'item_455464'): 0.9166666666666666,
 (20, 'item_1291715'): 0.9166666666666666,
 (57, 'item_1055629'): 0.9166666666666666,
 (21, 'item_417806'): 0.9166666666666666,
 (441, 'item_391948'): 0.9166666666666666,
 (147, 'item_158262'): 0.9166666666666666,
 (153, 'item_625904'): 0.9166666666666666,
 (80, 'item_1422158'): 0.9166666666666666,
 (198, 'item_66885'): 0.9154228855721394,
 (20, 'item_74483'): 0.9130434782608695,
 (147, 'item_213365'): 0.9122807017543859,
 (16, 'item_97337'): 0.9111111111111111,
 (16, 'item_479264'): 0.9090909090909091,
 (164, 'item_4238'): 0.9090909090909091,
 (84, 'item_1708456'): 0.9090909090909091,
 (16, 'item_122302'): 0.9090909090909091,
 (20, 'item_1051254'): 0.9090909090909091,
 (175, 'item_421058'): 0.9090909090909091,
 (80, 'item_1422150'): 0.9090909090909091,
 (20, 'item_97561'): 0.9090909090909091,
 (58, 'item_53050'): 0.9090909090909091,
 (50, 'item_795925'): 0.9090909090909091,
 (24, 'item_107795'): 0.9090909090909091,
 (54, 'item_848774'): 0.9090909090909091,
 (29, 'item_19352'): 0.9090909090909091,
 (40, 'item_7938'): 0.9090909090909091,
 (29, 'item_100409'): 0.9090909090909091,
 (180, 'item_973117'): 0.9090909090909091,
 (16, 'item_2008'): 0.9090909090909091,
 (110, 'item_161582'): 0.9090909090909091,
 (488, 'item_2618'): 0.9090909090909091,
 (151, 'item_56181'): 0.9090909090909091,
 (58, 'item_1063377'): 0.9090909090909091,
 (552, 'item_1859668'): 0.9090909090909091,
 (29, 'item_127409'): 0.9090909090909091,
 (58, 'item_2681419'): 0.9090909090909091,
 (20, 'item_109224'): 0.9090909090909091,
 (153, 'item_22729'): 0.9090909090909091,
 (193, 'item_212318'): 0.9090909090909091,
 (34, 'item_27627'): 0.9090909090909091,
 (735, 'item_1126802'): 0.9090909090909091,
 (24, 'item_727395'): 0.9090909090909091,
 (147, 'item_312517'): 0.9090909090909091,
 (184, 'item_1421217'): 0.9090909090909091,
 (34, 'item_306428'): 0.9090909090909091,
 (16, 'item_220903'): 0.9090909090909091,
 (97, 'item_198194'): 0.9090909090909091,
 (62, 'item_92466'): 0.9047619047619048,
 (49, 'item_79312'): 0.9047619047619048,
 (20, 'item_159733'): 0.9047619047619048,
 (164, 'item_179924'): 0.9047619047619048,
 (79, 'item_361833'): 0.9,
 (186, 'item_107391'): 0.9,
 (151, 'item_71394'): 0.9,
 (20, 'item_411107'): 0.9,
 (58, 'item_1063378'): 0.9,
 (29, 'item_322989'): 0.9,
 (29, 'item_341199'): 0.9,
 (58, 'item_1248464'): 0.9,
 (58, 'item_301395'): 0.9,
 (50, 'item_127360'): 0.9,
 (20, 'item_363492'): 0.9,
 (80, 'item_1422157'): 0.9,
 (16, 'item_120190'): 0.9,
 (20, 'item_165634'): 0.9,
 (20, 'item_250622'): 0.9,
 (20, 'item_470093'): 0.9,
 (178, 'item_631451'): 0.9,
 (50, 'item_3489964'): 0.9,
 (80, 'item_1422155'): 0.9,
 (63, 'item_14062'): 0.9,
 (206, 'item_1499511'): 0.9,
 (51, 'item_643458'): 0.9,
 (29, 'item_352864'): 0.9,
 (20, 'item_36875'): 0.9,
 (41, 'item_1481079'): 0.9,
 (151, 'item_217033'): 0.9,
 (164, 'item_616357'): 0.9,
 (20, 'item_17242'): 0.9,
 (20, 'item_179384'): 0.9,
 (151, 'item_45945'): 0.9,
 (81, 'item_200315'): 0.9,
 (193, 'item_745494'): 0.9,
 (166, 'item_6125'): 0.9,
 (21, 'item_63061'): 0.9,
 (184, 'item_708372'): 0.9,
 (97, 'item_546974'): 0.9,
 (20, 'item_188455'): 0.9,
 (21, 'item_506866'): 0.9,
 (96, 'item_1749131'): 0.9,
 (62, 'item_303957'): 0.9,
 (29, 'item_189060'): 0.9,
 (49, 'item_161382'): 0.9,
 (29, 'item_286710'): 0.9,
 (97, 'item_198191'): 0.9,
 (147, 'item_165680'): 0.9,
 (62, 'item_25911'): 0.9,
 (21, 'item_92676'): 0.9,
 (41, 'item_481752'): 0.9,
 (20, 'item_233829'): 0.9,
 (184, 'item_1261204'): 0.9,
 (29, 'item_270858'): 0.9,
 (20, 'item_534158'): 0.9,
 (29, 'item_254341'): 0.9,
 (98, 'item_385454'): 0.9,
 (20, 'item_949150'): 0.9,
 (147, 'item_141325'): 0.9,
 (20, 'item_1017451'): 0.9,
 (20, 'item_393518'): 0.9,
 (488, 'item_559535'): 0.9,
 (62, 'item_1586536'): 0.9,
 (41, 'item_311346'): 0.9,
 (184, 'item_667175'): 0.9,
 (16, 'item_161156'): 0.9,
 (147, 'item_567075'): 0.9,
 (16, 'item_323136'): 0.9,
 (16, 'item_130565'): 0.9,
 (488, 'item_17935'): 0.9,
 (21, 'item_921204'): 0.9,
 (20, 'item_282228'): 0.896551724137931,
 (29, 'item_205567'): 0.8947368421052632,
 (110, 'item_278147'): 0.8888888888888888,
 (20, 'item_81735'): 0.8888888888888888,
 (20, 'item_162'): 0.8888888888888888,
 (147, 'item_26076'): 0.8888888888888888,
 (41, 'item_46706'): 0.8846153846153846,
 (147, 'item_192073'): 0.8823529411764706,
 (16, 'item_2997'): 0.8823529411764706,
 (20, 'item_463303'): 0.8823529411764706,
 (20, 'item_470723'): 0.8823529411764706,
 (29, 'item_160275'): 0.8823529411764706,
 (62, 'item_1050949'): 0.88,
 (192, 'item_53331'): 0.8780487804878049,
 (21, 'item_498180'): 0.875,
 (110, 'item_228008'): 0.875,
 (184, 'item_299977'): 0.875,
 (49, 'item_15878'): 0.875,
 (116, 'item_301762'): 0.875,
 (147, 'item_320976'): 0.875,
 (62, 'item_122304'): 0.875,
 (41, 'item_616543'): 0.875,
 (29, 'item_668883'): 0.875,
 (21, 'item_1008067'): 0.875,
 (21, 'item_265820'): 0.875,
 (198, 'item_570824'): 0.8709677419354839,
 (147, 'item_88997'): 0.8695652173913043,
 (153, 'item_213690'): 0.8666666666666667,
 (49, 'item_9998'): 0.8666666666666667,
 (206, 'item_905954'): 0.8666666666666667,
 (193, 'item_117103'): 0.8666666666666667,
 (20, 'item_207330'): 0.8666666666666667,
 (147, 'item_18684'): 0.8666666666666667,
 (147, 'item_127752'): 0.8666666666666667,
 (20, 'item_81522'): 0.8666666666666667,
 (16, 'item_232643'): 0.8666666666666667,
 (20, 'item_459668'): 0.8666666666666667,
 (20, 'item_60085'): 0.8666666666666667,
 (20, 'item_174656'): 0.8636363636363636,
 (151, 'item_23902'): 0.8608695652173913,
 (29, 'item_115031'): 0.8571428571428571,
 (151, 'item_100759'): 0.8571428571428571,
 (46, 'item_189713'): 0.8571428571428571,
 (29, 'item_180428'): 0.8571428571428571,
 (337, 'item_2665447'): 0.8571428571428571,
 (184, 'item_564918'): 0.8571428571428571,
 (147, 'item_163314'): 0.8571428571428571,
 (647, 'item_1117620'): 0.8571428571428571,
 (29, 'item_120044'): 0.8571428571428571,
 (56, 'item_552116'): 0.8571428571428571,
 (20, 'item_272314'): 0.8571428571428571,
 (16, 'item_17813'): 0.8571428571428571,
 (20, 'item_171144'): 0.8571428571428571,
 (49, 'item_37636'): 0.8571428571428571,
 (80, 'item_713972'): 0.8571428571428571,
 (184, 'item_12727'): 0.8571428571428571,
 (735, 'item_120793'): 0.8571428571428571,
 (49, 'item_33153'): 0.8571428571428571,
 (175, 'item_155335'): 0.8571428571428571,
 (147, 'item_115958'): 0.8571428571428571,
 (151, 'item_3327'): 0.8560794044665012,
 (62, 'item_92509'): 0.8536585365853658,
 (16, 'item_40978'): 0.8529411764705882,
 (62, 'item_56999'): 0.85,
 (29, 'item_40145'): 0.8461538461538461,
 (20, 'item_6119'): 0.8461538461538461,
 (20, 'item_74496'): 0.8461538461538461,
 (488, 'item_597415'): 0.8461538461538461,
 (735, 'item_120798'): 0.8461538461538461,
 (20, 'item_420241'): 0.8461538461538461,
 (193, 'item_60512'): 0.8461538461538461,
 (29, 'item_11144'): 0.8461538461538461,
 (565, 'item_186698'): 0.8461538461538461,
 (198, 'item_62637'): 0.8461538461538461,
 (62, 'item_531223'): 0.8461538461538461,
 (21, 'item_44487'): 0.8461538461538461,
 (389, 'item_86512'): 0.8461538461538461,
 (151, 'item_302248'): 0.8461538461538461,
 (147, 'item_23710'): 0.8461538461538461,
 (184, 'item_724188'): 0.8461538461538461,
 (147, 'item_160142'): 0.8461538461538461,
 (147, 'item_351782'): 0.8461538461538461,
 (565, 'item_99425'): 0.8461538461538461,
 (21, 'item_661456'): 0.8461538461538461,
 (40, 'item_277382'): 0.8461538461538461,
 (16, 'item_21785'): 0.8461538461538461,
 (20, 'item_430151'): 0.8461538461538461,
 (151, 'item_129332'): 0.8461538461538461,
 (29, 'item_94896'): 0.8461538461538461,
 (40, 'item_19472'): 0.8421052631578947,
 (34, 'item_205680'): 0.8421052631578947,
 (48, 'item_138859'): 0.8421052631578947,
 (192, 'item_82484'): 0.8421052631578947,
 (16, 'item_154262'): 0.8421052631578947,
 (16, 'item_181310'): 0.8421052631578947,
 (352, 'item_42908'): 0.8402366863905325,
 (40, 'item_70747'): 0.84,
 (21, 'item_204797'): 0.84,
 (21, 'item_1023986'): 0.8333333333333334,
 (21, 'item_5608'): 0.8333333333333334,
 (80, 'item_532417'): 0.8333333333333334,
 (21, 'item_186529'): 0.8333333333333334,
 (488, 'item_712337'): 0.8333333333333334,
 (119, 'item_313763'): 0.8333333333333334,
 (91, 'item_482952'): 0.8333333333333334,
 (153, 'item_15188'): 0.8333333333333334,
 (361, 'item_193313'): 0.8333333333333334,
 (21, 'item_414346'): 0.8333333333333334,
 (735, 'item_1068069'): 0.8333333333333334,
 (20, 'item_48738'): 0.8333333333333334,
 (20, 'item_556304'): 0.8333333333333334,
 (147, 'item_65856'): 0.8333333333333334,
 (40, 'item_204101'): 0.8333333333333334,
 (62, 'item_416262'): 0.8333333333333334,
 (97, 'item_723212'): 0.8333333333333334,
 (16, 'item_315909'): 0.8333333333333334,
 (147, 'item_64928'): 0.8333333333333334,
 (41, 'item_216048'): 0.8333333333333334,
 (147, 'item_256492'): 0.8333333333333334,
 (20, 'item_251680'): 0.8333333333333334,
 (80, 'item_24599'): 0.8333333333333334,
 (40, 'item_82914'): 0.8333333333333334,
 (151, 'item_3072'): 0.8333333333333334,
 (186, 'item_35089'): 0.8333333333333334,
 (21, 'item_524323'): 0.8333333333333334,
 (24, 'item_203510'): 0.8333333333333334,
 (58, 'item_1063376'): 0.8333333333333334,
 (29, 'item_126619'): 0.8333333333333334,
 (20, 'item_222329'): 0.8333333333333334,
 (79, 'item_427753'): 0.8333333333333334,
 (206, 'item_146999'): 0.8333333333333334,
 (20, 'item_105366'): 0.8333333333333334,
 (29, 'item_121199'): 0.8297872340425532,
 (20, 'item_338739'): 0.8275862068965517,
 (29, 'item_351589'): 0.8260869565217391,
 (16, 'item_71036'): 0.8260869565217391,
 (147, 'item_72466'): 0.8260869565217391,
 (147, 'item_69297'): 0.8260869565217391,
 (20, 'item_479512'): 0.8235294117647058,
 (192, 'item_1288'): 0.8235294117647058,
 (29, 'item_347104'): 0.8235294117647058,
 (16, 'item_13355'): 0.8235294117647058,
 (153, 'item_17951'): 0.8235294117647058,
 (91, 'item_213681'): 0.8235294117647058,
 (16, 'item_387711'): 0.8235294117647058,
 (20, 'item_64520'): 0.8235294117647058,
 (29, 'item_12460'): 0.8235294117647058,
 (21, 'item_44494'): 0.8235294117647058,
 (29, 'item_7097'): 0.8235294117647058,
 (206, 'item_513982'): 0.8235294117647058,
 (49, 'item_330712'): 0.8214285714285714,
 (20, 'item_383950'): 0.8181818181818182,
 (101, 'item_76719'): 0.8181818181818182,
 (20, 'item_315268'): 0.8181818181818182,
 (98, 'item_82683'): 0.8181818181818182,
 (16, 'item_231190'): 0.8181818181818182,
 (91, 'item_761124'): 0.8181818181818182,
 (98, 'item_4345'): 0.8181818181818182,
 (21, 'item_2142291'): 0.8181818181818182,
 (119, 'item_638419'): 0.8181818181818182,
 (184, 'item_349783'): 0.8181818181818182,
 (80, 'item_1422152'): 0.8181818181818182,
 (80, 'item_1422153'): 0.8181818181818182,
 (16, 'item_382840'): 0.8181818181818182,
 (21, 'item_201057'): 0.8181818181818182,
 (119, 'item_144025'): 0.8181818181818182,
 (20, 'item_398762'): 0.8181818181818182,
 (184, 'item_1519987'): 0.8181818181818182,
 (16, 'item_253687'): 0.8181818181818182,
 (29, 'item_279973'): 0.8181818181818182,
 (16, 'item_313209'): 0.8181818181818182,
 (97, 'item_36786'): 0.8181818181818182,
 (168, 'item_211600'): 0.8181818181818182,
 (119, 'item_79796'): 0.8181818181818182,
 (112, 'item_148453'): 0.8181818181818182,
 (119, 'item_845314'): 0.8181818181818182,
 (40, 'item_1346123'): 0.8181818181818182,
 (474, 'item_264668'): 0.8181818181818182,
 (29, 'item_752598'): 0.8181818181818182,
 (37, 'item_3041687'): 0.8181818181818182,
 (49, 'item_1369090'): 0.8181818181818182,
 (193, 'item_384177'): 0.8181818181818182,
 (16, 'item_197497'): 0.8181818181818182,
 (196, 'item_29993'): 0.8181818181818182,
 (20, 'item_582573'): 0.8181818181818182,
 (21, 'item_874264'): 0.8181818181818182,
 (147, 'item_20495'): 0.8181818181818182,
 (20, 'item_342666'): 0.8181818181818182,
 (34, 'item_2105449'): 0.8181818181818182,
 (16, 'item_156493'): 0.8181818181818182,
 (29, 'item_535677'): 0.8181818181818182,
 (34, 'item_18068'): 0.8181818181818182,
 (34, 'item_102669'): 0.8181818181818182,
 (29, 'item_561815'): 0.8181818181818182,
 (29, 'item_58079'): 0.8181818181818182,
 (49, 'item_680484'): 0.8181818181818182,
 (151, 'item_1166492'): 0.8181818181818182,
 (49, 'item_60393'): 0.8181818181818182,
 (151, 'item_448147'): 0.8181818181818182,
 (49, 'item_54524'): 0.8181818181818182,
 (16, 'item_202029'): 0.8181818181818182,
 (16, 'item_792138'): 0.8181818181818182,
 (24, 'item_105073'): 0.8181818181818182,
 (699, 'item_949396'): 0.8181818181818182,
 (184, 'item_77769'): 0.8181818181818182,
 (153, 'item_317083'): 0.8181818181818182,
 (41, 'item_800504'): 0.8181818181818182,
 (58, 'item_98392'): 0.8181818181818182,
 (58, 'item_845688'): 0.8181818181818182,
 (20, 'item_106338'): 0.8181818181818182,
 (147, 'item_56440'): 0.8181818181818182,
 (153, 'item_114801'): 0.8181818181818182,
 (20, 'item_166784'): 0.8181818181818182,
 (206, 'item_67842'): 0.8152173913043478,
 (20, 'item_92711'): 0.8125,
 (20, 'item_74485'): 0.8125,
 (20, 'item_240440'): 0.8125,
 (1163, 'item_145129'): 0.8125,
 (41, 'item_1957975'): 0.8125,
 (20, 'item_447537'): 0.8125,
 (153, 'item_73976'): 0.8125,
 (21, 'item_33959'): 0.8125,
 (20, 'item_265048'): 0.8125,
 (29, 'item_386723'): 0.8125,
 (20, 'item_7298'): 0.8118811881188119,
 (20, 'item_4944'): 0.8095238095238095,
 (153, 'item_20897'): 0.8095238095238095,
 (93, 'item_150650'): 0.8095238095238095,
 (116, 'item_570811'): 0.8095238095238095,
 (20, 'item_17241'): 0.8095238095238095,
 (29, 'item_77836'): 0.8095238095238095,
 (29, 'item_12459'): 0.8076923076923077,
 (151, 'item_2563'): 0.8075313807531381,
 (151, 'item_3828'): 0.8070175438596491,
 (198, 'item_14552'): 0.8064516129032258,
 (124, 'item_51667'): 0.8055555555555556,
 (20, 'item_67641'): 0.8,
 (40, 'item_127314'): 0.8,
 (16, 'item_336100'): 0.8,
 (147, 'item_53966'): 0.8,
 (58, 'item_316023'): 0.8,
 (44, 'item_537815'): 0.8,
 (20, 'item_487116'): 0.8,
 (57, 'item_164309'): 0.8,
 (21, 'item_916932'): 0.8,
 (16, 'item_352010'): 0.8,
 (20, 'item_202902'): 0.8,
 (20, 'item_76874'): 0.8,
 (119, 'item_1250656'): 0.8,
 (29, 'item_1012791'): 0.8,
 (20, 'item_482645'): 0.8,
 (192, 'item_52946'): 0.8,
 (16, 'item_200034'): 0.8,
 (20, 'item_15095'): 0.8,
 (16, 'item_79703'): 0.8,
 (29, 'item_205565'): 0.8,
 (20, 'item_413444'): 0.8,
 (158, 'item_578625'): 0.8,
 (40, 'item_92432'): 0.8,
 (180, 'item_119785'): 0.8,
 (62, 'item_521865'): 0.8,
 (62, 'item_244316'): 0.8,
 (20, 'item_31620'): 0.8,
 (16, 'item_120188'): 0.8,
 (147, 'item_45151'): 0.8,
 (110, 'item_358692'): 0.8,
 (24, 'item_372058'): 0.8,
 (24, 'item_639496'): 0.8,
 (40, 'item_293854'): 0.8,
 (735, 'item_170658'): 0.8,
 (21, 'item_1149449'): 0.8,
 (180, 'item_80380'): 0.8,
 (699, 'item_312705'): 0.8,
 (699, 'item_220746'): 0.8,
 (16, 'item_36326'): 0.8,
 (37, 'item_25568'): 0.8,
 (198, 'item_109335'): 0.8,
 (29, 'item_882842'): 0.8,
 (248, 'item_462289'): 0.8,
 (167, 'item_151648'): 0.8,
 (49, 'item_3292'): 0.8,
 (119, 'item_21457'): 0.8,
 (20, 'item_623556'): 0.8,
 (63, 'item_1196574'): 0.8,
 (20, 'item_632279'): 0.8,
 (20, 'item_632421'): 0.8,
 (147, 'item_154471'): 0.8,
 (49, 'item_32855'): 0.8,
 (20, 'item_711312'): 0.8,
 (29, 'item_3355'): 0.8,
 (337, 'item_863755'): 0.8,
 (20, 'item_649734'): 0.8,
 (20, 'item_66976'): 0.8,
 (20, 'item_66985'): 0.8,
 (150, 'item_256669'): 0.8,
 (29, 'item_323272'): 0.8,
 (49, 'item_32856'): 0.8,
 (20, 'item_349714'): 0.8,
 (97, 'item_434295'): 0.8,
 (389, 'item_120400'): 0.8,
 (168, 'item_206107'): 0.8,
 (20, 'item_115438'): 0.8,
 (198, 'item_866500'): 0.8,

### Оценка

In [288]:
orders_df.head()

,user-id,site-id,created-at,item-id,count,general-category-path,brand-id,target
0,user_1,1,1634292444,NaN,NaN,NaN,NaN,0
1,user_1,2,1639827297,NaN,NaN,NaN,NaN,0
2,user_1,2,1639827681,NaN,NaN,NaN,NaN,0
3,user_3,21,1684248081,NaN,NaN,NaN,NaN,1
4,user_3,22,1684892551,item_1,1.0,NaN,NaN,1

In [316]:
orders_df['orders_id'] = orders_df.index
orders_df

,user-id,site-id,created-at,item-id,count,general-category-path,brand-id,target,orders_id
0,user_1,1,1634292444,NaN,NaN,NaN,NaN,0,0
1,user_1,2,1639827297,NaN,NaN,NaN,NaN,0,1
2,user_1,2,1639827681,NaN,NaN,NaN,NaN,0,2
3,user_3,21,1684248081,NaN,NaN,NaN,NaN,1,3
4,user_3,22,1684892551,item_1,1.0,NaN,NaN,1,4
...,...,...,...,...,...,...,...,...,...
3458393,user_127755,58,1690265390,item_162398,1.0,"[15685787, 12699910, 90813]",26642.0,0,3458393
3458394,user_127755,58,1690265390,item_1896437,1.0,"[4922657, 16087732, 90813]",14019.0,0,3458394
3458395,user_127755,58,1690265390,item_3739266,1.0,"[12718223, 90813]",32654.0,0,3458395
3458396,user_127755,58,1690265390,item_57560,1.0,"[12718223, 90813]",5783.0,0,3458396
3458397,user_127755,22,1464351651,item_2858,0.0,NaN,NaN,0,3458397

In [315]:
val_df['orders_id'] = val_df.index
val_df

,user-id,site-id,created-at,item-id,count,general-category-path,brand-id,target,orders_id
0,user_127756,407,1697125567,item_676374,NaN,NaN,NaN,0,0
1,user_127757,16,1636574129,item_3780263,2.0,"[90578, 90574, 198118]",1237.0,1,1
2,user_127757,16,1637512604,item_5403882,2.0,"[90578, 90574, 198118]",1237.0,1,2
3,user_127757,16,1637948102,item_1627033,1.0,"[91498, 91497, 91461, 198119]",1.0,1,3
4,user_127757,16,1638631112,item_554781,1.0,"[90629, 90625, 10599873, 198119]",3519.0,1,4
...,...,...,...,...,...,...,...,...,...
812878,user_155202,53,1684604189,item_650360,1.0,NaN,NaN,0,812878
812879,user_155202,53,1684604189,item_650361,1.0,NaN,NaN,0,812879
812880,user_155202,54,1420434776,NaN,NaN,NaN,NaN,0,812880
812881,user_155202,300,1688068054,item_650362,1.0,"[818863, 15068776, 7811881, 7877999]",915491.0,0,812881
812882,user_155202,86,1518364963,item_650363,1.0,NaN,NaN,0,812882

In [337]:
test_df['orders_id'] = test_df.index
test_df

,user-id,site-id,created-at,item-id,count,general-category-path,brand-id,orders_id
0,user_155204,489,1405923052,NaN,NaN,NaN,NaN,0
1,user_155206,62,1621174041,item_13288,1.0,"[91214, 91197, 90801]",NaN,1
2,user_155206,62,1621174041,item_13288,1.0,"[91214, 91197, 90801]",NaN,2
3,user_155206,62,1670141242,item_6173525,1.0,NaN,NaN,3
4,user_155206,62,1670141242,item_6173525,1.0,NaN,NaN,4
...,...,...,...,...,...,...,...,...
533539,user_173986,79,1563163857,item_6640458,1.0,"[7811908, 7811873, 7877999]",1750.0,533539
533540,user_173986,79,1563163857,item_6640459,1.0,"[7811908, 7811873, 7877999]",1750.0,533540
533541,user_173986,79,1563163857,item_6640460,1.0,"[7812151, 7811877, 7877999]",1750.0,533541
533542,user_173986,79,1628941618,NaN,NaN,NaN,NaN,533542
533543,user_173986,65,1698847724,item_1337219,1.0,NaN,NaN,533543

site/category

In [291]:
site_category_orders = orders_df[~orders_df['general-category-path'].isna()][['user-id', 'orders_id', 'site-id', 'general-category-path']]
site_category_orders['category'] = site_category_orders[~site_category_orders['general-category-path'].isna()]['general-category-path'].apply(literal_eval)
site_category_orders = site_category_orders.drop('general-category-path', axis=1)
site_category_orders = site_category_orders.explode('category')
site_category_orders['site_category'] = list(zip(site_category_orders['site-id'], site_category_orders['category']))
site_category_orders = site_category_orders.drop(['site-id', 'category'], axis=1)
site_category_orders['site_category_p'] = site_category_orders['site_category'].apply(lambda x: orders_site_category_count.get(x, None))
site_category_orders = site_category_orders.drop(['site_category'], axis=1)
site_category_orders

In [317]:
site_category_orders_val = val_df[~val_df['general-category-path'].isna()][['user-id', 'orders_id', 'site-id', 'general-category-path']]
site_category_orders_val['category'] = site_category_orders_val[~site_category_orders_val['general-category-path'].isna()]['general-category-path'].apply(literal_eval)
site_category_orders_val = site_category_orders_val.drop('general-category-path', axis=1)
site_category_orders_val = site_category_orders_val.explode('category')
site_category_orders_val['site_category'] = list(zip(site_category_orders_val['site-id'], site_category_orders_val['category']))
site_category_orders_val = site_category_orders_val.drop(['site-id', 'category'], axis=1)
site_category_orders_val['site_category_p'] = site_category_orders_val['site_category'].apply(lambda x: orders_site_category_count.get(x, None))
site_category_orders_val = site_category_orders_val.drop(['site_category'], axis=1)
site_category_orders_val

            user-id  orders_id  site_category_p
1       user_127757          1         0.662338
1       user_127757          1         0.537074
1       user_127757          1         0.491353
2       user_127757          2         0.662338
2       user_127757          2         0.537074
...             ...        ...              ...
812877  user_155202     812877         0.189825
812881  user_155202     812881              NaN
812881  user_155202     812881              NaN
812881  user_155202     812881              NaN
812881  user_155202     812881         0.093750

[1396615 rows x 3 columns]

In [338]:
site_category_orders_test = test_df[~test_df['general-category-path'].isna()][['user-id', 'orders_id', 'site-id', 'general-category-path']]
site_category_orders_test['category'] = site_category_orders_test[~site_category_orders_test['general-category-path'].isna()]['general-category-path'].apply(literal_eval)
site_category_orders_test = site_category_orders_test.drop('general-category-path', axis=1)
site_category_orders_test = site_category_orders_test.explode('category')
site_category_orders_test['site_category'] = list(zip(site_category_orders_test['site-id'], site_category_orders_test['category']))
site_category_orders_test = site_category_orders_test.drop(['site-id', 'category'], axis=1)
site_category_orders_test['site_category_p'] = site_category_orders_test['site_category'].apply(lambda x: orders_site_category_count.get(x, None))
site_category_orders_test = site_category_orders_test.drop(['site_category'], axis=1)
site_category_orders_test

            user-id  orders_id  site_category_p
1       user_155206          1         0.347471
1       user_155206          1         0.334876
1       user_155206          1         0.329917
2       user_155206          2         0.347471
2       user_155206          2         0.334876
...             ...        ...              ...
533540  user_173986     533540         0.518414
533540  user_173986     533540         0.609076
533541  user_173986     533541         0.607491
533541  user_173986     533541         0.619167
533541  user_173986     533541         0.609076

[929489 rows x 3 columns]

first category

In [294]:
site_category_orders_first = site_category_orders.dropna().drop_duplicates(subset = ['user-id', 'orders_id'])
site_category_orders_first = site_category_orders_first.groupby(by=['user-id', 'orders_id'], as_index=False).agg(
    site_category_p = ('site_category_p', 'mean'))
site_category_orders_first = site_category_orders_first.groupby(by='user-id', as_index=False).agg(
    site_category_p = ('site_category_p', 'mean'))
site_category_orders_first

           user-id  site_category_p
0        user_1000         0.436521
1      user_100000         0.553529
2      user_100001         0.564460
3      user_100002         0.254429
4      user_100003         0.554622
...            ...              ...
77949   user_99992         0.717744
77950   user_99993         0.247570
77951   user_99994         0.831483
77952   user_99995         0.206823
77953   user_99996         0.405123

[77954 rows x 2 columns]

In [319]:
site_category_orders_first_val = site_category_orders_val.dropna().drop_duplicates(subset = ['user-id', 'orders_id'])
site_category_orders_first_val = site_category_orders_first_val.groupby(by=['user-id', 'orders_id'], as_index=False).agg(
    site_category_p = ('site_category_p', 'mean'))
site_category_orders_first_val = site_category_orders_first_val.groupby(by='user-id', as_index=False).agg(
    site_category_p = ('site_category_p', 'mean'))
site_category_orders_first_val

           user-id  site_category_p
0      user_127757         0.613322
1      user_127758         0.332267
2      user_127759         0.148793
3      user_127761         0.417320
4      user_127763         0.579524
...            ...              ...
16971  user_155196         0.265991
16972  user_155197         0.532962
16973  user_155198         0.379480
16974  user_155200         0.296504
16975  user_155202         0.180391

[16976 rows x 2 columns]

In [339]:
site_category_orders_first_test = site_category_orders_test.dropna().drop_duplicates(subset = ['user-id', 'orders_id'])
site_category_orders_first_test = site_category_orders_first_test.groupby(by=['user-id', 'orders_id'], as_index=False).agg(
    site_category_p = ('site_category_p', 'mean'))
site_category_orders_first_test = site_category_orders_first_test.groupby(by='user-id', as_index=False).agg(
    site_category_p = ('site_category_p', 'mean'))
site_category_orders_first_test

           user-id  site_category_p
0      user_155206         0.428609
1      user_155207         0.181522
2      user_155208         0.349959
3      user_155210         0.198714
4      user_155211         0.536765
...            ...              ...
11529  user_173982         0.549530
11530  user_173983         0.118441
11531  user_173984         0.229629
11532  user_173985         0.501887
11533  user_173986         0.293644

[11534 rows x 2 columns]

last category

In [295]:
site_category_orders_last = site_category_orders.drop_duplicates(subset = ['user-id', 'orders_id'], keep='last')
site_category_orders_last = site_category_orders_last.groupby(by=['user-id', 'orders_id'], as_index=False).agg(
    site_category_p = ('site_category_p', 'mean'))
site_category_orders_last = site_category_orders_last.groupby(by='user-id', as_index=False).agg(
    site_category_p = ('site_category_p', 'mean'))
site_category_orders_last

           user-id  site_category_p
0        user_1000         0.431783
1      user_100000         0.542966
2      user_100001         0.584327
3      user_100002         0.204271
4      user_100003         0.535086
...            ...              ...
78036   user_99992         0.614769
78037   user_99993         0.278378
78038   user_99994         0.787284
78039   user_99995         0.220515
78040   user_99996         0.422215

[78041 rows x 2 columns]

При использовании первой категории ошибок меньше

In [296]:
site_category_orders = site_category_orders.drop_duplicates(subset = ['user-id', 'orders_id'], keep='last')
site_category_orders = site_category_orders.groupby(by=['user-id', 'orders_id'], as_index=False).agg(
    site_category_p = ('site_category_p', 'mean'))

In [297]:
test_df1 = site_category_orders_first.merge(orders_df[['user-id', 'target']], how='left', on='user-id').drop_duplicates(subset=['user-id', 'site_category_p'])
test_df1['p'] = test_df1['site_category_p'].apply(lambda x: 1 if x >= 0.5 else 0)
test_df1['res'] = abs(test_df1['p'] - test_df1['target'])
test_df1['res'].mean()

0.2734946250352772

In [298]:
test_df1 = site_category_orders_last.merge(orders_df[['user-id', 'target']], how='left', on='user-id').drop_duplicates(subset=['user-id', 'site_category_p'])
test_df1['p'] = test_df1['site_category_p'].apply(lambda x: 1 if x >= 0.5 else 0)
test_df1['res'] = abs(test_df1['p'] - test_df1['target'])
test_df1['res'].mean()

0.3007009136223267

item/orders

In [299]:
site_item_orders = orders_df[['user-id', 'orders_id', 'site-id', 'item-id']].dropna()
site_item_orders['site_item'] = list(zip(site_item_orders['site-id'], site_item_orders['item-id']))
site_item_orders = site_item_orders.drop(['site-id', 'item-id'], axis=1)
site_item_orders['site_item_p'] = site_item_orders['site_item'].apply(lambda x: orders_site_item_count.get(x, None))
site_item_orders = site_item_orders.drop(['site_item'], axis=1)
site_item_orders

             user-id  orders_id  site_item_p
4             user_3          4          NaN
5             user_4          5     0.556870
6             user_4          6          NaN
7             user_4          7          NaN
8             user_4          8          NaN
...              ...        ...          ...
3458393  user_127755    3458393          NaN
3458394  user_127755    3458394          NaN
3458395  user_127755    3458395          NaN
3458396  user_127755    3458396     0.130435
3458397  user_127755    3458397     0.475472

[3061803 rows x 3 columns]

In [320]:
site_item_orders_val = val_df[['user-id', 'orders_id', 'site-id', 'item-id']].dropna()
site_item_orders_val['site_item'] = list(zip(site_item_orders_val['site-id'], site_item_orders_val['item-id']))
site_item_orders_val = site_item_orders_val.drop(['site-id', 'item-id'], axis=1)
site_item_orders_val['site_item_p'] = site_item_orders_val['site_item'].apply(lambda x: orders_site_item_count.get(x, None))
site_item_orders_val = site_item_orders_val.drop(['site_item'], axis=1)
site_item_orders_val

            user-id  orders_id  site_item_p
0       user_127756          0     0.589744
1       user_127757          1          NaN
2       user_127757          2          NaN
3       user_127757          3          NaN
4       user_127757          4          NaN
...             ...        ...          ...
812877  user_155202     812877          NaN
812878  user_155202     812878          NaN
812879  user_155202     812879          NaN
812881  user_155202     812881          NaN
812882  user_155202     812882          NaN

[719042 rows x 3 columns]

In [340]:
site_item_orders_test = test_df[['user-id', 'orders_id', 'site-id', 'item-id']].dropna()
site_item_orders_test['site_item'] = list(zip(site_item_orders_test['site-id'], site_item_orders_test['item-id']))
site_item_orders_test = site_item_orders_test.drop(['site-id', 'item-id'], axis=1)
site_item_orders_test['site_item_p'] = site_item_orders_test['site_item'].apply(lambda x: orders_site_item_count.get(x, None))
site_item_orders_test = site_item_orders_test.drop(['site_item'], axis=1)
site_item_orders_test

            user-id  orders_id  site_item_p
1       user_155206          1     0.538462
2       user_155206          2     0.538462
3       user_155206          3          NaN
4       user_155206          4          NaN
5       user_155206          5     0.372549
...             ...        ...          ...
533538  user_173986     533538          NaN
533539  user_173986     533539          NaN
533540  user_173986     533540          NaN
533541  user_173986     533541          NaN
533543  user_173986     533543          NaN

[472430 rows x 3 columns]

site/brand

In [300]:
site_brand_orders = orders_df[['user-id', 'orders_id', 'site-id', 'brand-id']].dropna()
site_brand_orders['site_brand'] = list(zip(site_brand_orders['site-id'], site_brand_orders['brand-id']))
site_brand_orders = site_brand_orders.drop(['site-id', 'brand-id'], axis=1)
site_brand_orders['site_brand_p'] = site_brand_orders['site_brand'].apply(lambda x: orders_site_brand_count.get(x, None))
site_brand_orders = site_brand_orders.drop(['site_brand'], axis=1)
site_brand_orders

             user-id  orders_id  site_brand_p
6             user_4          6      0.727273
7             user_4          7      0.504132
8             user_4          8      0.518293
15            user_5         15      0.571429
16            user_5         16      0.488827
...              ...        ...           ...
3458392  user_127755    3458392      0.175000
3458393  user_127755    3458393      0.175000
3458394  user_127755    3458394      0.179487
3458395  user_127755    3458395      0.067797
3458396  user_127755    3458396      0.143498

[1357227 rows x 3 columns]

In [321]:
site_brand_orders_val = val_df[['user-id', 'orders_id', 'site-id', 'brand-id']].dropna()
site_brand_orders_val['site_brand'] = list(zip(site_brand_orders_val['site-id'], site_brand_orders_val['brand-id']))
site_brand_orders_val = site_brand_orders_val.drop(['site-id', 'brand-id'], axis=1)
site_brand_orders_val['site_brand_p'] = site_brand_orders_val['site_brand'].apply(lambda x: orders_site_brand_count.get(x, None))
site_brand_orders_val = site_brand_orders_val.drop(['site_brand'], axis=1)
site_brand_orders_val

            user-id  orders_id  site_brand_p
1       user_127757          1      0.650000
2       user_127757          2      0.650000
3       user_127757          3      0.576923
4       user_127757          4      0.647059
5       user_127757          5      0.519573
...             ...        ...           ...
812869  user_155202     812869      0.180328
812870  user_155202     812870      0.133333
812876  user_155202     812876      0.158798
812877  user_155202     812877      0.158798
812881  user_155202     812881      0.063492

[316931 rows x 3 columns]

In [341]:
site_brand_orders_test = test_df[['user-id', 'orders_id', 'site-id', 'brand-id']].dropna()
site_brand_orders_test['site_brand'] = list(zip(site_brand_orders_test['site-id'], site_brand_orders_test['brand-id']))
site_brand_orders_test = site_brand_orders_test.drop(['site-id', 'brand-id'], axis=1)
site_brand_orders_test['site_brand_p'] = site_brand_orders_test['site_brand'].apply(lambda x: orders_site_brand_count.get(x, None))
site_brand_orders_test = site_brand_orders_test.drop(['site_brand'], axis=1)
site_brand_orders_test

            user-id  orders_id  site_brand_p
5       user_155206          5      0.254525
6       user_155206          6           NaN
7       user_155206          7           NaN
8       user_155206          8      0.291667
9       user_155206          9      0.291667
...             ...        ...           ...
533517  user_173986     533517      0.366667
533518  user_173986     533518      0.476744
533539  user_173986     533539      0.623495
533540  user_173986     533540      0.623495
533541  user_173986     533541      0.623495

[210961 rows x 3 columns]

brand

In [301]:
brand_orders = orders_df[['user-id', 'orders_id', 'brand-id']].dropna()
brand_orders['brand_p'] = brand_orders['brand-id'].apply(lambda x: orders_brand_count.get(x, None))
brand_orders = brand_orders.drop(['brand-id'], axis=1)
brand_orders

             user-id  orders_id   brand_p
6             user_4          6  0.794872
7             user_4          7  0.512000
8             user_4          8  0.580769
15            user_5         15  0.598895
16            user_5         16  0.507717
...              ...        ...       ...
3458392  user_127755    3458392  0.176309
3458393  user_127755    3458393  0.176309
3458394  user_127755    3458394  0.110000
3458395  user_127755    3458395  0.098361
3458396  user_127755    3458396  0.148225

[1357227 rows x 3 columns]

In [322]:
brand_orders_val = val_df[['user-id', 'orders_id', 'brand-id']].dropna()
brand_orders_val['brand_p'] = brand_orders_val['brand-id'].apply(lambda x: orders_brand_count.get(x, None))
brand_orders_val = brand_orders_val.drop(['brand-id'], axis=1)
brand_orders_val

            user-id  orders_id   brand_p
1       user_127757          1  0.573207
2       user_127757          2  0.573207
3       user_127757          3  0.598895
4       user_127757          4  0.666667
5       user_127757          5  0.519787
...             ...        ...       ...
812869  user_155202     812869  0.198795
812870  user_155202     812870  0.129032
812876  user_155202     812876  0.158798
812877  user_155202     812877  0.158798
812881  user_155202     812881  0.063492

[316931 rows x 3 columns]

In [342]:
brand_orders_test = test_df[['user-id', 'orders_id', 'brand-id']].dropna()
brand_orders_test['brand_p'] = brand_orders_test['brand-id'].apply(lambda x: orders_brand_count.get(x, None))
brand_orders_test = brand_orders_test.drop(['brand-id'], axis=1)
brand_orders_test

            user-id  orders_id   brand_p
5       user_155206          5  0.254525
6       user_155206          6       NaN
7       user_155206          7       NaN
8       user_155206          8  0.395161
9       user_155206          9  0.395161
...             ...        ...       ...
533517  user_173986     533517  0.475138
533518  user_173986     533518  0.499819
533539  user_173986     533539  0.623495
533540  user_173986     533540  0.623495
533541  user_173986     533541  0.623495

[210961 rows x 3 columns]

site

In [302]:
site_orders = orders_df[['user-id', 'orders_id', 'site-id']].dropna()
site_orders['site_p'] = site_orders['site-id'].apply(lambda x: orders_site_count.get(x, None))
site_orders = site_orders.drop(['site-id'], axis=1)
site_orders

             user-id  orders_id    site_p
0             user_1          0  0.603833
1             user_1          1  0.565698
2             user_1          2  0.565698
3             user_3          3  0.390117
4             user_3          4  0.463999
...              ...        ...       ...
3458393  user_127755    3458393  0.183846
3458394  user_127755    3458394  0.183846
3458395  user_127755    3458395  0.183846
3458396  user_127755    3458396  0.183846
3458397  user_127755    3458397  0.463999

[3458398 rows x 3 columns]

In [323]:
site_orders_val = val_df[['user-id', 'orders_id', 'site-id']].dropna()
site_orders_val['site_p'] = site_orders_val['site-id'].apply(lambda x: orders_site_count.get(x, None))
site_orders_val = site_orders_val.drop(['site-id'], axis=1)
site_orders_val

            user-id  orders_id    site_p
0       user_127756          0  0.242673
1       user_127757          1  0.556956
2       user_127757          2  0.556956
3       user_127757          3  0.556956
4       user_127757          4  0.556956
...             ...        ...       ...
812878  user_155202     812878  0.178472
812879  user_155202     812879  0.178472
812880  user_155202     812880  0.351187
812881  user_155202     812881  0.059701
812882  user_155202     812882  0.121886

[812883 rows x 3 columns]

In [343]:
site_orders_test = test_df[['user-id', 'orders_id', 'site-id']].dropna()
site_orders_test['site_p'] = site_orders_test['site-id'].apply(lambda x: orders_site_count.get(x, None))
site_orders_test = site_orders_test.drop(['site-id'], axis=1)
site_orders_test

            user-id  orders_id    site_p
0       user_155204          0  0.501585
1       user_155206          1  0.374828
2       user_155206          2  0.374828
3       user_155206          3  0.374828
4       user_155206          4  0.374828
...             ...        ...       ...
533539  user_173986     533539  0.603105
533540  user_173986     533540  0.603105
533541  user_173986     533541  0.603105
533542  user_173986     533542  0.603105
533543  user_173986     533543  0.322969

[533544 rows x 3 columns]

#### Слияние

train

In [304]:
result = site_item_orders.merge(site_brand_orders, how='left', on=['user-id', 'orders_id'])
result = result.merge(site_category_orders, how='left', on=['user-id', 'orders_id'])
result = result.merge(brand_orders, how='left', on=['user-id', 'orders_id'])
result = result.merge(site_orders, how='left', on=['user-id', 'orders_id'])

result = result.drop('orders_id', axis=1).groupby(by='user-id', as_index = False).mean()

In [306]:
result.merge(orders_df[['user-id', 'target']], on='user-id').drop_duplicates().head(50)

,user-id,site_item_p,site_brand_p,site_category_p,brand_p,site_p,target
0,user_100,0.539431,NaN,NaN,NaN,0.565698,1
3,user_1000,0.442024,0.260790,0.431783,0.420493,0.558870,1
24,user_100000,NaN,0.657492,0.542966,0.595133,0.501558,1
27,user_100001,0.267102,0.577912,0.584327,0.598895,0.255716,0
56,user_100002,0.429019,0.209927,0.204271,0.218735,0.323290,0
94,user_100003,0.666667,0.596178,0.535086,0.635333,0.533189,1
112,user_100004,0.155196,0.163676,0.182735,0.169356,0.185536,0
117,user_100005,NaN,0.222874,0.326664,0.182280,0.501558,0
124,user_100006,0.323592,0.370787,0.184196,0.370466,0.241668,1
131,user_100007,0.444789,0.582220,0.383678,0.497388,0.428995,1
157,user_100008,0.534574,NaN,NaN,NaN,0.586575,0
160,user_100009,0.444648,0.102745,0.267162,0.128908,0.289865,0
183,user_100010,0.578732,NaN,NaN,NaN,0.565698,1
186,user_100011,NaN,NaN,NaN,NaN,0.399915,0
201,user_100012,0.489238,0.468816,0.418800,0.438716,0.477356,1
218,user_100014,0.666752,0.537176,0.540096,0.520987,0.541189,1
269,user_100016,NaN,NaN,0.429296,0.349083,0.489933,1
274,user_100017,0.406255,0.245045,0.261061,0.236230,0.506477,0
294,user_100018,NaN,0.416667,0.326664,0.416667,0.501558,1
295,user_100019,0.126464,0.091363,0.156123,0.139105,0.203901,0
338,user_10002,0.387882,0.679012,0.535449,0.682927,0.476065,1
344,user_100020,NaN,0.623495,0.609076,0.623495,0.603105,1
349,user_100024,0.235780,0.215542,0.349937,0.235051,0.219835,1
366,user_100025,0.052632,NaN,NaN,NaN,0.322969,0
370,user_100026,0.556870,NaN,NaN,NaN,0.565698,1
374,user_100027,NaN,NaN,NaN,NaN,0.322969,0
375,user_100029,0.306763,0.534628,0.454410,0.418439,0.379572,0
426,user_10003,NaN,NaN,0.271511,NaN,0.292507,0
447,user_100030,0.477335,0.459275,0.397723,0.464088,0.523848,1
509,user_100031,0.352941,0.132075,0.271076,0.150685,0.232841,0
536,user_100032,0.347826,NaN,0.331823,NaN,0.310682,1
539,user_100035,0.334614,0.186667,0.221165,0.180736,0.388211,0
547,user_100036,NaN,0.755698,0.692697,0.665485,0.501558,1
550,user_100037,0.554058,NaN,NaN,NaN,0.547890,0
555,user_100039,0.338765,0.320374,0.298445,0.334251,0.345078,0
678,user_10004,0.333333,0.212446,0.209700,0.219718,0.198394,1
683,user_100040,0.583333,NaN,NaN,NaN,0.586575,1
684,user_100042,NaN,0.707317,0.704350,0.377049,0.429772,1
694,user_100043,NaN,0.639175,0.610782,0.573542,0.551147,1
695,user_100046,NaN,NaN,0.681334,NaN,0.501558,1
700,user_100047,0.188022,0.112305,0.106257,0.109593,0.177255,0
831,user_100048,NaN,0.106358,0.079428,0.088194,0.078934,0
835,user_100050,0.520833,NaN,NaN,NaN,0.562651,1
842,user_100051,0.175659,0.228571,0.177006,0.228571,0.192242,0
856,user_100053,0.151598,0.678821,0.485696,0.555337,0.316384,1
865,user_100054,NaN,0.597888,0.534570,0.599868,0.501558,0
867,user_100055,0.151988,0.216756,0.261720,0.227715,0.278081,0
967,user_100057,NaN,NaN,0.329917,NaN,0.374828,0
969,user_100058,NaN,NaN,NaN,NaN,0.562143,1
970,user_100059,0.529558,NaN,0.278816,NaN,0.418000,0

In [307]:
result.merge(orders_df[['user-id', 'target']], on='user-id').drop_duplicates().to_csv('predict/test_1.csv')

val

In [324]:
result_val = site_item_orders_val.merge(site_brand_orders_val, how='left', on=['user-id', 'orders_id'])
result_val = result_val.merge(site_category_orders_val, how='left', on=['user-id', 'orders_id'])
result_val = result_val.merge(brand_orders_val, how='left', on=['user-id', 'orders_id'])
result_val = result_val.merge(site_orders_val, how='left', on=['user-id', 'orders_id'])

result_val = result_val.drop('orders_id', axis=1).groupby(by='user-id', as_index = False).mean()

In [326]:
result_val.merge(val_df[['user-id', 'target']], on='user-id').drop_duplicates().head(50)

,user-id,site_item_p,site_brand_p,site_category_p,brand_p,site_p,target
0,user_127756,0.589744,NaN,NaN,NaN,0.242673,0
1,user_127757,NaN,0.597405,0.584942,0.565219,0.583797,1
17,user_127758,0.228709,0.340759,0.333877,0.362997,0.377651,0
55,user_127759,0.144602,0.134961,0.139234,0.137373,0.133938,0
107,user_127761,0.587382,0.608333,0.399367,0.552459,0.452935,0
111,user_127762,0.469388,NaN,NaN,NaN,0.450739,0
120,user_127763,0.489238,0.580793,0.564188,0.609247,0.531097,1
126,user_127764,NaN,NaN,NaN,NaN,0.240218,1
129,user_127765,0.561965,0.631579,0.562568,0.614108,0.560971,0
138,user_127766,0.114366,0.269811,0.249995,0.240863,0.251571,0
189,user_127767,0.578732,NaN,NaN,NaN,0.565698,1
190,user_127769,0.254772,0.355128,0.291751,0.370952,0.329567,0
274,user_127771,0.411562,0.552483,0.395489,0.590343,0.372702,1
290,user_127772,0.128135,0.148822,0.146625,0.144706,0.151579,0
398,user_127773,NaN,NaN,NaN,NaN,0.562143,1
399,user_127774,0.551162,0.384497,0.395687,0.294041,0.544002,0
414,user_127775,NaN,0.515946,0.531060,0.517161,0.458620,1
430,user_127776,0.260292,0.295629,0.370243,0.332807,0.350730,1
556,user_127777,0.192635,0.206022,0.242924,0.211812,0.249236,0
656,user_127778,0.360580,0.535153,0.554633,0.543581,0.514808,1
679,user_127781,0.143320,0.112498,0.127569,0.118822,0.137337,0
733,user_127782,0.586139,0.774359,0.794039,0.683239,0.729808,0
741,user_127784,0.261008,0.238151,0.236885,0.231410,0.244275,0
767,user_127785,0.513179,0.253218,0.254536,0.239865,0.319007,1
791,user_127786,0.460806,0.502279,0.463261,0.501039,0.521276,1
803,user_127787,0.240028,0.228866,0.247919,0.218594,0.244858,0
917,user_127788,0.583333,0.529740,0.578986,0.559839,0.510155,1
934,user_127789,0.393509,NaN,NaN,NaN,0.342414,0
943,user_127790,0.405543,0.203695,0.193461,0.148596,0.252153,0
971,user_127791,0.357143,0.467258,0.521545,0.510091,0.457681,1
977,user_127792,0.394285,0.115769,0.246245,0.100033,0.313849,0
985,user_127793,0.639366,NaN,NaN,NaN,0.563921,1
996,user_127794,0.294786,0.234127,0.199407,0.238811,0.244619,0
1022,user_127795,0.548220,0.397842,0.464236,0.328800,0.467601,1
1055,user_127796,0.688643,0.640317,0.627183,0.597192,0.562489,0
1068,user_127797,0.137723,0.166667,0.437213,0.166667,0.336825,1
1073,user_127800,NaN,NaN,NaN,NaN,0.296089,0
1075,user_127801,0.569987,NaN,NaN,NaN,0.565698,1
1083,user_127802,0.609557,0.122339,0.147410,0.124469,0.199378,0
1114,user_127804,0.091615,0.218382,0.209072,0.212999,0.235018,0
1274,user_127805,0.698795,NaN,NaN,NaN,0.631310,1
1276,user_127806,0.523810,0.505000,0.472762,0.507681,0.533189,0
1277,user_127807,0.556870,NaN,NaN,NaN,0.565698,1
1279,user_127808,NaN,0.516000,0.497688,0.427851,0.501558,0
1282,user_127809,0.579755,NaN,NaN,NaN,0.586575,1
1286,user_127811,0.755490,0.577280,0.625177,0.597948,0.661138,1
1338,user_127812,NaN,NaN,NaN,NaN,0.200162,0
1339,user_127813,0.504711,NaN,NaN,NaN,0.373374,1
1343,user_127814,0.102580,0.112979,0.126491,0.118986,0.143592,0
1480,user_127815,0.718750,NaN,0.337421,NaN,0.421657,1

In [329]:
result_val.merge(val_df[['user-id', 'target']], on='user-id').drop_duplicates().to_csv('predict/val.csv')

test

In [344]:
result_test = site_item_orders_test.merge(site_brand_orders_test, how='left', on=['user-id', 'orders_id'])
result_test = result_test.merge(site_category_orders_test, how='left', on=['user-id', 'orders_id'])
result_test = result_test.merge(brand_orders_test, how='left', on=['user-id', 'orders_id'])
result_test = result_test.merge(site_orders_test, how='left', on=['user-id', 'orders_id'])

result_test = result_test.drop('orders_id', axis=1).groupby(by='user-id', as_index = False).mean()

In [347]:
result_test.drop_duplicates().head(50)

,user-id,site_item_p,site_brand_p,site_category_p,brand_p,site_p
0,user_155206,0.538507,0.462303,0.439389,0.426700,0.480652
1,user_155207,0.114194,0.172770,0.196837,0.175147,0.128712
2,user_155208,0.356360,0.372149,0.376890,0.336166,0.414160
3,user_155209,NaN,NaN,NaN,NaN,0.463999
4,user_155210,0.217596,0.151250,0.206400,0.217269,0.196409
5,user_155211,NaN,0.559524,0.541802,0.573542,0.566774
6,user_155212,0.504711,0.220796,0.214103,0.223187,0.245136
7,user_155213,NaN,0.825452,0.713741,0.632860,0.551285
8,user_155214,0.240991,0.193066,0.214515,0.196392,0.239809
9,user_155215,NaN,0.416088,0.384278,0.471029,0.414544
10,user_155216,0.374837,0.314845,0.340764,0.323950,0.382742
11,user_155217,0.593750,0.594937,0.642685,0.573207,0.568829
12,user_155218,0.103693,0.160406,0.140373,0.170264,0.145467
13,user_155219,0.111111,0.298127,0.156409,0.298127,0.197434
14,user_155220,NaN,0.465863,0.497119,0.478964,0.501558
15,user_155222,0.558642,0.514793,0.473467,0.437331,0.503809
16,user_155223,0.400000,NaN,0.301926,NaN,0.378739
17,user_155225,0.052849,0.080888,0.092160,0.089150,0.091926
18,user_155226,0.519905,NaN,NaN,NaN,0.545554
19,user_155227,0.178682,0.229751,0.303272,0.248707,0.307863
20,user_155230,0.530663,0.478018,0.465066,0.499976,0.470089
21,user_155231,0.243306,0.334890,0.374050,0.317291,0.337860
22,user_155232,0.532152,0.462407,0.356782,0.353066,0.369246
23,user_155233,NaN,0.652510,0.624888,0.609546,0.617257
24,user_155235,NaN,0.552016,0.483998,0.598895,0.454009
25,user_155236,0.172740,0.239437,0.227444,0.194200,0.233407
26,user_155237,0.400000,0.234793,0.307729,0.230704,0.288784
27,user_155238,0.539431,NaN,NaN,NaN,0.565698
28,user_155239,0.416667,0.587002,0.552246,0.578734,0.533189
29,user_155241,NaN,0.800000,0.631995,0.578734,0.617257
30,user_155242,0.556870,0.240205,0.342023,0.261208,0.310847
31,user_155243,0.217647,0.266785,0.225030,0.233132,0.277447
32,user_155244,0.250637,0.253762,0.222125,0.260078,0.227279
33,user_155245,0.259471,0.334587,0.316704,0.334783,0.331217
34,user_155246,0.523833,0.638095,0.597969,0.735346,0.475456
35,user_155247,0.615385,0.481323,0.500902,0.504463,0.549275
36,user_155248,0.541667,NaN,NaN,NaN,0.562143
37,user_155249,0.500888,0.568477,0.358583,0.371556,0.362350
38,user_155252,0.246391,0.539231,0.492216,0.545041,0.371527
39,user_155253,0.194586,0.250299,0.272208,0.251758,0.332640
40,user_155254,0.250000,0.254525,0.296400,0.254525,0.198394
41,user_155255,0.163224,0.290511,0.300163,0.295265,0.285012
42,user_155257,0.064103,0.154679,0.181772,0.153713,0.198480
43,user_155258,0.259395,0.210001,0.211964,0.243747,0.225266
44,user_155259,0.217087,0.188745,0.191310,0.208662,0.226836
45,user_155260,0.423365,0.410181,0.426866,0.394798,0.392851
46,user_155261,0.222005,0.258642,0.254453,0.260242,0.239832
47,user_155262,NaN,0.692308,0.370345,0.397574,0.501558
48,user_155264,0.438616,0.380688,0.355194,0.304194,0.304651
49,user_155265,0.127750,0.086792,0.135496,0.088585,0.201929

In [348]:
result_test.drop_duplicates().to_csv('predict/test.csv')

In [308]:
pd.read_csv('predict/test_1.csv', index_col=0)

,user-id,site_item_p,site_brand_p,site_category_p,brand_p,site_p,target
0,user_100,0.539431,NaN,NaN,NaN,0.565698,1
3,user_1000,0.442024,0.260790,0.431783,0.420493,0.558870,1
24,user_100000,NaN,0.657492,0.542966,0.595133,0.501558,1
27,user_100001,0.267102,0.577912,0.584327,0.598895,0.255716,0
56,user_100002,0.429019,0.209927,0.204271,0.218735,0.323290,0
...,...,...,...,...,...,...,...
3429871,user_99993,0.153846,0.424779,0.278378,0.152861,0.356570,0
3429880,user_99994,0.799587,0.758791,0.787284,0.762178,0.626134,1
3429891,user_99995,NaN,0.226528,0.220515,0.226476,0.226039,0
3429892,user_99996,0.462798,0.496476,0.422215,0.359006,0.420606,1
3429919,user_99999,NaN,NaN,NaN,NaN,0.469638,1

In [330]:
pd.read_csv('predict/val.csv', index_col=0)

,user-id,site_item_p,site_brand_p,site_category_p,brand_p,site_p,target
0,user_127756,0.589744,NaN,NaN,NaN,0.242673,0
1,user_127757,NaN,0.597405,0.584942,0.565219,0.583797,1
17,user_127758,0.228709,0.340759,0.333877,0.362997,0.377651,0
55,user_127759,0.144602,0.134961,0.139234,0.137373,0.133938,0
107,user_127761,0.587382,0.608333,0.399367,0.552459,0.452935,0
...,...,...,...,...,...,...,...
806817,user_155196,0.473946,NaN,0.301113,NaN,0.409189,0
806828,user_155197,0.560514,0.533449,0.545743,0.551614,0.584392,1
806842,user_155198,0.562179,0.426543,0.366100,0.426340,0.354969,0
806851,user_155200,0.240335,0.213166,0.221401,0.176991,0.196568,0
806853,user_155202,0.240695,0.219487,0.206420,0.217662,0.227654,0

In [349]:
pd.read_csv('predict/test.csv', index_col=0)

,user-id,site_item_p,site_brand_p,site_category_p,brand_p,site_p
0,user_155206,0.538507,0.462303,0.439389,0.426700,0.480652
1,user_155207,0.114194,0.172770,0.196837,0.175147,0.128712
2,user_155208,0.356360,0.372149,0.376890,0.336166,0.414160
3,user_155209,NaN,NaN,NaN,NaN,0.463999
4,user_155210,0.217596,0.151250,0.206400,0.217269,0.196409
...,...,...,...,...,...,...
15023,user_173982,NaN,0.522252,0.559265,0.552459,0.533189
15024,user_173983,0.318656,0.075949,0.142692,0.075949,0.255642
15025,user_173984,0.191760,0.302218,0.234247,0.305477,0.229774
15026,user_173985,0.349867,0.580247,0.473591,0.481964,0.377015
15027,user_173986,0.285002,0.306277,0.293038,0.311131,0.307576